{% load i18n %}
{% load static %}

<div class="grey-text text-darken-1">
    <div class="container">
        <div class="row flexbox center-items-horizontal">
            <div class="col l7 m5 s12">
                <div class="text-block text-large">
                    {% blocktrans %}
                      <b>ZOSIA</b> (Zimowy Obóz Studentów Informatyki A, which roughly translates to "Best Computer Science Students Winter Camp",
                      is the annual gathering for people associated with Wroclaw University Computer Science Institute. It started
                      20 years ago with a tight-knit group of friends and has grown to group of 200 people from all over the world.
                      During the 3-day conference, attendees are welcome to enjoy talks (not only about computer science), but also
                      various outdoor activities, trips, and of course integration with past and current students and lecturers.
                    {% endblocktrans %}
                </div>
            </div>
            <div class=" col offset-l1 l4 offset-m1 m6 s12">
              <div class="carousel">
                <!-- TODO: Modal? -->
                <a class="carousel-item" href="{% static 'imgs/sq1.png' %}"><img src="{% static 'imgs/sq1.png' %}"></a>
                <a class="carousel-item" href="{% static 'imgs/sq2.png' %}"><img src="{% static 'imgs/sq2.png' %}"></a>
                <a class="carousel-item" href="{% static 'imgs/sq3.png' %}"><img src="{% static 'imgs/sq3.png' %}"></a>
              </div>
            </div>
        </div>
    </div>
</div>
