{% load i18n %}
{% load static %}

<div class="grey-text text-darken-1">
    <div class="container">
        <div class="row flexbox center-items-horizontal">
            <div class="col l7 m5 s12">
              <div class="card">
                  <div class="text-block text-large card-content" style="text-align: justify;">
                      {% blocktrans %}
                        <b>ZOSIA</b> ("Zimowy Obóz Studentów Informatyki A", roughly translated as "The Best Computer Science Students' Winter Camp")
                        is the annual gathering for people associated with the Institute of Computer Science at the University of Wroclaw.
                        It started 20 years ago with a tight-knit group of friends and has grown to group of about 200 people from all over the world.
                        During the three-day conference attendees are welcome not only to enjoy talks (not only about computer science), but also
                        various outdoor activities, trips, and of course integration with past and current students and lecturers.
                      {% endblocktrans %}
                  </div>
                </div>
            </div>
            <div class=" col offset-l1 l4 offset-m1 m6 s12">
              <div class="slider" style="margin-top: 20px">
                <ul class="slides">
                  <li>
                    <img src="{% static 'imgs/sq1.png' %}">
                    <div class="caption center-align">
                      <h3>{% trans "Join us now!" %}</h3>
                    </div>
                  </li>
                  <li>
                    <img src="{% static 'imgs/sq2.png' %}">
                    <div class="caption right-align" style="top: 50%">
                      <h3>{% trans "Let's meet there!" %}</h3>
                    </div>
                  </li>
                  <li>
                    <img src="{% static 'imgs/sq3.png' %}">
                    <div class="caption left-align">
                      <h3>{% trans "Let's see that together!" %}</h3>
                    </div>
                  </li>
                  <li>
                    <img src="{% static 'imgs/sq4.png' %}">
                    <div class="caption center-align">
                      <h3>{% trans "Play with us!" %}</h3>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
