{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<div class="container">
    <h3>{% trans 'Admin panel' %}</h3>

    <div class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab col"><a href="#blog_tab">{% trans 'Blog' %}</a></li>
                <li class="tab col"><a href="#sponsors_tab">{% trans 'Sponsors' %}</a></li>
                <li class="tab col"><a href="#users_tab" class="active">{% trans 'Users' %}</a></li>
                <li class="tab col"><a href="#organizers_tab">{% trans 'Organizers' %}</a></li>
                <li class="tab col"><a href="#qa_tab">{% trans 'Q&A' %}</a></li>
                <li class="tab col"><a href="#lectures_tab">{% trans 'Lectures' %}</a></li>
                <li class="tab col"><a href="#rooms_tab">{% trans 'Rooms' %}</a></li>
                <li class="tab col"><a href="#zosia_tab">{% trans 'Zosia' %}</a></li>
                <li class="tab col"><a href="#downloads_tab">{% trans 'Downloads' %}</a></li>
            </ul>
        </div>

        <div id="users_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'user_preferences_index' %}" class="collection-item">{% trans 'Preferences' %}</a>
                <a href="{% url 'mail_all' %}" class="collection-item">{% trans 'Email users' %}</a>
            </ul>
        </div>

        <div id="organizers_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'organizers_index' %}" class="collection-item">{% trans 'Organizers' %}</a>
                <a href="{% url 'organizers_add' %}" class="collection-item">{% trans 'Add organizer' %}</a>
            </ul>
        </div>

        <div id="blog_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'blog_create' %}" class="collection-item">{% trans 'Add blog post' %}</a>
                <a href="{% url 'blog_list' %}" class="collection-item">{% trans 'List and edit blog posts' %}</a>
            </ul>
        </div>

        <div id="sponsors_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'sponsors_index' %}" class="collection-item">{% trans 'Sponsors' %}</a>
                <a href="{% url 'sponsors_add' %}" class="collection-item">{% trans 'Add sponsor' %}</a>
            </ul>
        </div>

        <div id="qa_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'questions_index_staff' %}" class="collection-item">{% trans 'Q&A' %}</a>
                <a href="{% url 'questions_add' %}" class="collection-item">{% trans 'Q&A add' %}</a>
            </ul>
        </div>

        <div id="lectures_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'lectures_all_staff' %}" class="collection-item">{% trans 'Lectures' %}</a>
                <a href="{% url 'lectures_staff_add' %}" class="collection-item">{% trans 'Add lecture' %}</a>
                <a href="{% url 'lectures_schedule_add' %}" class="collection-item">{% trans 'Update schedule' %}</a>
            </ul>
        </div>

        <div id="rooms_tab" class="col s12">
            {% comment %} This is root for React app {% endcomment %}
        </div>

        <div id="zosia_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'conferences' %}" class="collection-item">{% trans "Conferences" %}</a>
                <a href="{% url 'place' %}" class="collection-item">{% trans 'Places' %}</a>
                <a href="{% url 'transport' %}" class="collection-item">{% trans 'Transport' %}</a>
                <a href="{% url 'organizations' %}" class="collection-item">{% trans 'Organizations' %}</a>
                <a href="{% url 'rooms_import' %}" class="collection-item"> {% trans 'Upload rooms' %}</a>
                <a href="{% url 'statistics' %}" class="collection-item">{% trans 'Statistics' %}</a>
                <a href="{% url 'boardgames_accept' %}" class="collection-item">{% trans 'Boardgames' %}</a>
            </ul>
        </div>

        <div id="downloads_tab" class="col s12">
            <ul class="collection">
                <a href="{% url 'export_data' %}" class="collection-item">
                    {% trans 'ZOSIA data export (for zosia-print script)' %} (JSON)
                </a>
                <a href="{% url 'list_csv_lectures' %}" class="collection-item">
                    {% trans 'Lectures export (for spreadsheet-scheduler)' %} (CSV)
                </a>
                <a href="{% url 'export_shirts' %}" class="collection-item">
                    {% trans 'Shirts export' %} (CSV)
                </a>
                <a href="{% url 'list_csv_preferences_all' %}" class="collection-item">
                    {% trans 'Preferences of registered users' %} (CSV)
                </a>
                <a href="{% url 'list_csv_preferences_paid' %}" class="collection-item">
                    {% trans 'Preferences of paid users' %} (CSV)
                </a>
                <a href="{% url 'list_csv_room_by_user' %}" class="collection-item">
                    {% trans 'User --> Room' %} (CSV)
                </a>
                <a href="{% url 'list_csv_room_by_member' %}" class="collection-item">
                    {% trans 'Room member --> Room' %} (CSV)
                </a>
                <a href="{% url 'list_csv_members_by_room' %}" class="collection-item">
                    {% trans 'Room --> Members' %} (CSV)
                </a>
                <a href="{% url 'list_csv_transport_by_user' %}" class="collection-item">
                    {% trans 'User --> Transport' %} (CSV)
                </a>
                <a href="{% url 'list_csv_all_users_by_transport' %}" class="collection-item">
                    {% trans 'Transport --> Registered users' %} (CSV)
                </a>
                <a href="{% url 'list_csv_paid_users_by_transport' %}" class="collection-item">
                    {% trans 'Transport --> Paid users' %} (CSV)
                </a>
                <a href="{% url 'list_csv_paid_students_by_transport' %}" class="collection-item">
                    {% trans 'Transport --> Paid student users' %} (CSV)
                </a>
                <a href="{% url 'list_csv_paid_non_students_by_transport' %}" class="collection-item">
                    {% trans 'Transport --> Paid non-student users' %} (CSV)
                </a>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{% static 'script/admin.min.js' %}"></script>
{% endblock custom_scripts %}
