{% load i18n %}
{% load static %}

<div id="organizers" class="bg-white indigo-text text-darken-4">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 m12">
                <h3>{% trans "Organizers" %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m6 s12">
                <a href="http://uni.wroc.pl" rel="noopener noreferrer" target="_blank">
                    <img src="{% static 'imgs/Logo_UWr.svg' %}" width="100%"></img>
                </a>
            </div>
            <div class="col l6 m6 s12">
                <a href="http://ksi.ii.uni.wroc.pl/" rel="noopener noreferrer" target="_blank">
                  <img src="{% static 'imgs/Logo_KSI.svg' %}" width="100%"></img>
                </a>
            </div>
        </div>
    </div>
</div>
