{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}

{% block content %}
<div class="container">
  <h3>
    {% if object %}
      {% trans "Update preferences" %}
    {% else %}
      {% trans "Register" %}
    {% endif %}
  </h3>
  <form method="post">
    {% csrf_token %}
    {% include '_form.html' %}
  </form>
</div>
{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
    $('textarea').addClass("materialize-textarea");

    const dependencies = {
        {% for accommodation, meals in field_dependencies.items %}
        "#id_{{ accommodation }}" : [ {%  for m in meals %} "#id_{{ m }}", {% endfor %} ],
        {% endfor %}
    }

    const onChange = changedIds => {
      changedIds.forEach(par => {
        const isParentChecked = $(par).is(':checked')
        dependencies[par].forEach(child => {
          $(child).attr('disabled', !isParentChecked);
          if (!isParentChecked) {
            $(child).prop('checked', false);
          }
        })
      })
    }

    for (par in dependencies) {
      $(par).change(event => {
        onChange(["#" + event.currentTarget.id])
      })
    }

    onChange(Object.keys(dependencies));
  });
</script>
{% endblock custom_scripts %}
