{% extends 'base.html' %}

{% load i18n %}

{% block content %}
    <div class="container grey-text text-darken-2">
        <div class="row">
            <div class="col l8 center-align">
                <h3>{% trans 'Zapisy dla Zaproszonych na Zimowy Obóz Studentów Informatyki A' %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col l8">
                <h4>Instrukcja zapisów</h4>
                <ol>
                    <li style="margin-bottom: 10px">
                        Stwórz konto za pomocą przycisku "Sign up".
                        Jako Email podaj adres w domenie <b>cs.uni.wroc.pl</b> lub dowolnej innej*.<br/>
                        Konta zakładane na naszej stronie w przeszłości zostały usunięte.
                    </li>
                    <li style="margin-bottom: 10px">
                        By zarejestrować się na najbliższą edycję ZOSI na stronie głównej lub w swoim profilu w zakładce ZOSIA kliknij przycisk <b>REGISTER</b>.
                    </li>
                    <li style="margin-bottom: 10px">
                        Uzupełnij kwestionariusz. W polu <b>Information</b> koniecznie wpisz swoje preferencje przy wyborze pokoju.
                        Potrzebujemy wiedzieć czy wolisz pokój z łóżkiem podwójnym, a może pokój jednoosobowy, czy wolisz pokój w cichym zakątku hotelu,
                        czy masz już wybraną osobę współlokatorską, wolisz wybrać ją później, czy może jest Ci to obojętne.
                        Prosimy o uzupełnienie tego pola.
                    </li>
                    <li>Wyślij formularz i gotowe!</li>
                </ol>
                <p>
                    Jako osoba zaproszona posiadasz specjalny priorytet i możesz wybrać pokój przed resztą uczestników.
                    Do 31 grudnia mamy najwięcej możliwości, by pomóc Ci w wyborze pokoju.
                    Po podanej dacie dalej jesteśmy do Twojej dyspozji i zawsze służymy pomocą.
                    Natomiast im bliżej do daty rozpoczęcia Konferencji, tym nasz zasób pokoi będzie coraz bardziej ograniczony.
                </p>
                <p>
                    W razie jakichkolwiek pytań lub problemów, zachęcamy do kontaktu: <a href="mailto:ksi@cs.uni.wroc.pl">ksi@cs.uni.wroc.pl</a>.
                </p>
                <p>
                    * W przypadku rejestracji konta w innej domenie prosimy o informację mailową. Dziękujemy.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
