{% load i18n %}
{% load static %}

<div id="sponsors" class="indigo-text text-darken-4">
    <div class="container">
        <div class="row">
            <div class="col l12 s12 m12">
                <h3>{% trans "Sponsors" %}</h3>
            </div>
        </div>
        <div class="row sponsors-row">
            {% for sponsor in sponsors %}
                <div class="col l6 m6 s12">
                    <a href="{{ sponsor.url }}" rel="noopener noreferrer" target="_blank">
                        {% if sponsor.path_to_logo %}
                            <img src="{{ sponsor.path_to_logo }}" alt="{{ sponsor.name }}" width="100%"/>
                        {% else %}
                            <h5 style="text-align: center">{{ sponsor.name }}</h5>
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
