{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block custom_head %}
<script type="text/javascript" src="{% static 'script/chart.min.js' %}"></script>
{% endblock %}

{% block content %}
<style>
    .users-pie-chart-container {
        height: 700px;
    }

    .users-cost-bar-chart-container {
        height: 500px;
    }

    .discounts-bar-chart-container {
        height: 400px;
    }

    .transport-info-bar-chart-container {
        height: calc({{numberOfTransport}} * 90px + 120px );
    }

    @media (max-width: 767px) {
        .users-pie-chart-container {
            height: 300px;
        }

        .users-cost-bar-chart-container {
            height: 300px;
        }

        .discounts-bar-chart-container {
            height: 200px;
        }

        .transport-info-bar-chart-container {
            height: calc({{numberOfTransport}} * 60px + 120px );
        }
    }
</style>

<div class="container">
    <div class="row">
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "ZOSIA statistics" %}</span>
                    <br />
                    <div><b>Registered users:</b> {{ registeredUsers }} </div>
                    <div><b>Students:</b> {{ students }} </div>
                    <div><b>Vegetarians:</b> {{ vegetarians }} </div>
                    <hr />
                    <div class="users-pie-chart-container">
                        <canvas id="users_pie_chart" aria-label="Pie chart with user data" role="img"></canvas>
                    </div>
                    <hr />
                    <div class="users-cost-bar-chart-container">
                        <canvas id="user_costs_bar_chart" aria-label="Bar chart with user data" role="img"></canvas>
                    </div>
                    <hr />
                    <div class="discounts-bar-chart-container">
                        <canvas id="discounts_bar_chart" aria-label="Bar chart with discounts data" role="img"></canvas>
                    </div>
                    <hr />
                    <div class="transport-info-bar-chart-container">
                        <canvas id="transport_info_bar_chart" aria-label="Bar chart with transport info" role="img"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
    var userPrefsData = {{ userPrefsData }}
    var usersCanvas = document.getElementById('users_pie_chart');
    var usersPieChart = new Chart(usersCanvas, {
        type: 'pie',
        data: {
            labels: ['Users with payment accepted', 'Users with preferences only', 'Users without preferences'],
            datasets: [{
                data: userPrefsData,
                backgroundColor: ["rgb(54, 235, 162)", "rgb(54, 162, 235)", "rgb(255, 99, 132)"]
            }]
        },
        options: {
            maintainAspectRatio: false,
            radius: "90%",
            plugins: {
                title: {
                    display: true,
                    text: 'Users',
                    font: {
                        size: 20
                    }
                }
            },
            layout: {
                padding: 20
            }
        }
    });

    var userCostsValues = {{ userCostsValues }}
    var userCostsCounts = {{ userCostsCounts }}

    var barColor = function (context) {
        return 'rgba(50, 70, 190, 0.7)';
    }

    var userCostsCanvas = document.getElementById('user_costs_bar_chart');
    var userCostsBarChart = new Chart(userCostsCanvas, {
        type: 'bar',
        data: {
            labels: userCostsValues,
            datasets: [{
                data: userCostsCounts,
                backgroundColor: barColor
            }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Costs preferences',
                    font: {
                        size: 20
                    }
                },
                tooltip: {
                    callbacks: {
                        title: function (context) { return context[0].label + " PLN" },
                        label: function (context) { return " " + context.raw + " os." }
                    }
                }
            },
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'cost [PLN]',
                        font: {
                            weight: "600",
                            size: 14
                        }
                    }
                },
                y: {
                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    },
                    title: {
                        display: true,
                        text: 'users',
                        font: {
                            weight: "600",
                            size: 14
                        }
                    }
                }
            }
        },
    });

    var discountData = {{ discountsData | safe }}

    var discountsCanvas = document.getElementById('discounts_bar_chart');
    var discountsBarChart = new Chart(discountsCanvas, {
        type: 'bar',
        data: {
            labels: ["Round 1", "Round 2", "Round 3"],
            datasets: [
                {
                    label: "Taken",
                    data: discountData["taken"],
                    backgroundColor: 'rgba(70, 195, 40, 0.5)'
                },
                {
                    label: "Available",
                    data: discountData["available"],
                    backgroundColor: 'rgba(50, 50, 50, 0.5)'
                }]
        },
        options: {
            maintainAspectRatio: false,
            plugins: {
                title: {
                    display: true,
                    text: 'Discounts',
                    font: {
                        size: 20
                    }
                },
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true,
                    beginAtZero: true,
                    ticks: {
                        precision: 0
                    },
                }
            }
        }
    });

    var transportLabels = {{ transportLabels|safe }}
    var transportValues = {{ transportValues|safe }}

    var transportInfoCanvas = document.getElementById('transport_info_bar_chart');
    var transportInfoBarChart = new Chart(transportInfoCanvas, {
        type: 'bar',
        data: {
            labels: transportLabels,
            datasets: [
                {
                    label: "Paid",
                    data: transportValues["paid"],
                    backgroundColor: 'rgba(70, 195, 40, 0.5)'
                },
                {
                    label: "Not Paid",
                    data: transportValues["notPaid"],
                    backgroundColor: 'rgba(50, 70, 190, 0.5)'
                },
                {
                    label: "Empty",
                    data: transportValues["empty"],
                    backgroundColor: 'rgba(50, 50, 50, 0.5)'
                }
            ]
        },
        options: {
            indexAxis: 'y',
            elements: {
                bar: {
                    borderWidth: 2,
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Transport info',
                    font: {
                        size: 20
                    }
                }
            },
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                x: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'places',
                        font: {
                            weight: "600",
                            size: 14
                        }
                    }
                },
                y: {
                    stacked: true,
                    title: {
                        display: true,
                        text: 'transport',
                        font: {
                            weight: "600",
                            size: 14
                        }
                    }
                }
            }
        }
    });


</script>
{% endblock custom_scripts %}
