{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h3>{% trans "Transport" %}</h3>

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
              <li class="tab col s6"><a href="#transport">{% trans 'Transport' %}</a></li>
              <li class="tab col s6"><a href="{% url 'transport_add' %}" target='_self'>{% trans 'Add' %}</a></li>
            </ul>
        </div>

        <div id="transport" class="col s12">
            <ul class="collection">
              {% for transport in transports %}
              <li class='collection-item'>
                  <div class='chip'>
                    <i class="fa fa-bus" aria-hidden="true"></i>
                    {{ transport.passengers_count }} / {{ transport.capacity }}
                  </div>
                  {{ transport }}
                <div class='right'>
                  <a href="{% url 'transport_update' transport.id %}">
                    <i class="material-icons">mode_edit</i>
                  </a>
                  <a href="{% url 'transport_people' transport.id %}">
                    <i class="material-icons">assignment_ind</i>
                  </a>
                </div>
              </li>
              {% endfor %}
            </ul>
        </div>
    </div>
  </div>
{% endblock %}
