{% load i18n %}
{% load tz %}

{% if zosia %}
<div class="bg-light-green grey-text text-lighten-2" id="active-zosia">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12 center-align">
                <h3>
                    ZOSIA {{ zosia.start_date }} - {{ zosia.end_date }}
                </h3>
            </div>
        </div>
        <div class="row center-items-horizontal">
            <div class="col l4 m6 s12 offset-l3">
                <div class="text-block">
                    <!-- FIXME: Make sure this url is absolute. Django WILL try to make it relative if it doesn't start with http -->
                    <a href="{{ zosia.place.url }}" target="_blank">
                        <strong>{{ zosia.place.name }}</strong>
                    </a>
                    <br>
                    {% trans "Address" %}:
                    <br/>
                    {{ zosia.place.address }}
                    <br>
                </div>
            </div>
            <div class="col l4 m6 s12">
                <div class="dates">
                    <span>{% trans "Registration" %}:</span>
                    <br/>
                    <span>{{ zosia.registration_start | timezone:"Europe/Warsaw" }} - {{
                        zosia.registration_end | timezone:"Europe/Warsaw" }}</span>
                </div>

                <div class="dates">
                    <span>{% trans "Rooms enrollment" %}:</span>
                    <br/>
                    <span>{{ zosia.rooming_start | timezone:"Europe/Warsaw" }} - {{
                        zosia.rooming_end | timezone:"Europe/Warsaw" }}</span>
                </div>
                <div class="dates">
                    <span>{% trans "Call for papers" %}:</span>
                    <br/>
                    <span>{{ zosia.lecture_registration_start | timezone:"Europe/Warsaw" }} - {{
                        zosia.lecture_registration_end | timezone:"Europe/Warsaw" }}</span>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="height: 15%">
    <iframe
            allowfullscreen
            class="full-width full-height" frameborder="0"
            gapi_place_src src={{ style="border:0"
            }}>
    </iframe>
</div>
{% endif %}
