language: python
python:
  - "3.5"
services:
  - postgresql
addons:
  postgresql: "9.5"
# command to install dependencies
install: "pip install -r requirements.txt"
# command to run tests
script: make test
cache: pip
