{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <div class="container">
    <h3>{% trans "Lectures" %}</h3>

    <div class="fixed-action-btn">
      <a href="{% url 'lectures_staff_add' %}" class="waves-effect waves-light btn-floating secondary-content btn-large">
        <i class="material-icons">add</i>
      </a>
    </div>
    {% if objects %}
      <ul class="collapsible">
        {% for object in objects %}
          <li>
            <div class="collapsible-header">
              <div class="chip">{{ object.get_lecture_type_display }} - {{ object.duration }}</div>
              <span style="margin-right: 10px;">{{ object.all_authors_names }}</span>
              <strong style="max-width: 65%">{{ object.title }}</strong>
              <div class="switch right">
                <a href="{% url 'lectures_edit' object.id %}">
                  <i class="material-icons">mode_edit</i>
                </a>
                <label>
                  <input type="checkbox" {% if object.accepted %}checked{% endif %}>
                  <span class="lever" data-id="{{ object.id }}"></span>
                </label>
              </div>
            </div>
            <div class="collapsible-body">
              <strong>{% trans 'Abstract' %}:</strong><br />
              {{ object.abstract|linebreaksbr }}
              <br /><br />
              <strong>{% trans 'Main author (with type)' %}:</strong><br />
              {{ object.author }}<br />
              {{ object.author.person_type }}
              <br /><br />
              <strong>{% trans 'Supporting authors provided' %}:</strong><br />
              {{ object.supporters_names|linebreaksbr }}
              <br /><br />
              <strong>{% trans 'Authors description' %}:</strong><br />
              {{ object.description }}
              <br /><br />
              <strong>{% trans 'Requests or comments' %}:</strong><br />
              {{ object.requests|linebreaksbr }}
              <br /><br />
              <strong>{% trans 'Events' %}:</strong><br />
              {{ object.events|linebreaksbr }}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
{% endblock %}

{% block custom_scripts %}
  <script type="text/javascript">
      $(document).ready(function(){
          $('.lever').on('click', function(){
              $.ajax({
                  type: "POST",
                  url: '{% url 'lectures_toggle_accept' %}',
                  data: {
                      'csrfmiddlewaretoken': '{{ csrf_token }}',
                      'key': $(this).data('id')
                  },
                  error: function(){
                      alert("Error occured!");
                  }
              });
          });
      });
  </script>
{% endblock %}
