{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="col s8 m7">
      <h2 class="header center-align text-dark-green">{% trans 'Signup complete' %}</h2>
      <div class="card horizontal">
        <div class="card-stacked">
          <div class="card-content">
            <p>{% blocktrans %}
            We've emailed to {{ form.user.email }} instructions for activating your account. You should receive them shortly.
          {% endblocktrans %}</p>
          <p>{% trans "If you don't receive an email, please make sure you've entered correct address, and check your spam folder." %}</p>
          <p>{% trans "If you experience any problems with signing up, please let us know at <strong>ksi@cs.uni.wroc.pl</strong>." %}</p>
          </div>
          <div class="card-action">
            <a href="{% url 'index' %}">{% trans 'Back to homepage' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
