{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}

{% block content %}
  <div class="container">
    {% if next %}
      <div class="row">
        <div class="col xl6 offset-xl3 l9 offset-l3 offset-m3 m9 s12">
          <div class="row" style="margin-bottom: 0">
            <div class="col s12 m9">
              <ul class="collapsible">
                <li class="active">
                  <div class="collapsible-header">
                    <i class="material-icons">warning</i>
                    {% trans 'Warning' %}
                  </div>
                  <div class="collapsible-body">
                    {% if user.is_authenticated %}
                      <p>
                        {% blocktrans %}
                          Your account doesn't have access to this page. To proceed,
                          please login with an account that has access.
                        {% endblocktrans %}
                      </p>
                    {% else %}
                      <p>
                        {% blocktrans %}
                          Please login to see this page.<br/>If you don't have an account yet 
                        {% endblocktrans %}
                        <a href="{% url 'accounts_signup' %}">{% trans 'sign up first' %}</a>
                        .
                      </p>
                    {% endif %}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col xl6 offset-xl3 l9 offset-l3 offset-m3 m9 s12">
        <form method="post" action="">
          {% csrf_token %}
          {% include '_form.html' with form_name="Login" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
