{% extends "base.html" %}
{% load i18n static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l6 m6 s12 offset-m3">
                <h2>{% trans "Change password" %}</h2>
                <p>
                    {% blocktrans %}
                        Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
                    {% endblocktrans %}
                </p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            {% include '_form.html' with form_name="Password change" %}
        </form>
    </div>
{% endblock %}
