{% extends "boardgames/checkboxes.html" %}
{% load i18n %}


{% block description %}
<p>
    {% trans "Accept suggested boardgames." %}
</p>
{% endblock %}

{% block elems %}
<div class="switch">
    <label>
        <input data-id={{boardgame.pk}} data-name={{boardgame.name}} type="checkbox"
            {% if boardgame.accepted %}checked{% endif %} />
        <span class="lever"></span>
        <a href={{boardgame.url}}>{{boardgame.name|safe|escape}}</a>
    </label>
</div>
{% endblock %}


{% block action %}
{% with 'admin' as url_name %}
{{ block.super }}
{% endwith %}
{% endblock %}


{% block info %}
let info_msg = 'State of the boardgames was successfully changed.';
if(new_ids.length == 0)
info_msg = 'State of the boardgames was successfully reset.'
let info_url = '{% url 'accept_edit' %}'
{% endblock %}