{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <h3>{% trans "Boardgames" %}</h3>

    {% if paid %}
      <div>
        <a class="waves-effect waves-light btn" href="{% url 'boardgames_create' %}">
          {% trans "Add boardgame" %} </a>
        <a class="waves-effect waves-light btn" href="{% url 'boardgames_vote' %}">
          {% trans "Vote" %} </a>
      </div>
    {% else %} 
      <p>To add boardgames your payment must be accepted first</p>
    {% endif %}

      <table>
        <tr>
          <th>Name</th>
          <th>Votes</th>
          <th>State</th>
        </tr>
        {% for boardgame in boardgames %}
        <tr>
          <td>{{boardgame.name}}</td>
          <td>{{boardgame.votes}}</td>
          <td>{{boardgame.state}}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
{% endblock content %}
