{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l12 m12 s12">
      <h3>
        {% trans "Boardgames" %}
      </h3>
    </div>
  </div>

  <div class="row">
    <div class="col l12 m12 s12">
      {% if paid %}
      <a class="waves-effect waves-light btn" href="{% url 'my_boardgames' %}">
        {% trans "My boardgames" %} </a>
      <a class="waves-effect waves-light btn" href="{% url 'boardgames_vote' %}">
        {% trans "Vote" %} </a>
      {% else %}
      <p>To add and vote for boardgames your payment must be accepted first</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col l12 m12 s12">
      <div class="card">
        <div class="card-content">
          <table>
            <tr>
              <th>Name</th>
              <th>Votes</th>
              <th>State</th>
            </tr>
            {% for boardgame in boardgames %}
            <tr>
              <td><a href={{boardgame.url}}>{{boardgame.name|safe|escape}}</a></td>
              <td>{{boardgame.votes}}</td>
              <td>{% if boardgame.accepted %} Accepted {% else %} Suggested by {{boardgame.user.first_name}}
                {{boardgame.user.last_name}}{% endif %}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}