{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans 'My boardgames' %}
                    </span>
                    <div class="divider"></div>
                    <div class="section">
                        {% if can_add %}
                        <div class="row">
                            <div class="col l12 m12 s12">
                                <a href="{% url 'boardgames_create' %}"
                                    class="btn btn-default">{% trans 'Add boardgame' %}</a>
                            </div>
                        </div>
                        {% else %}
                        <p>{% trans "You've already added three boardgames. Remove some to add a new one." %}</p>
                        {% endif %}
                    </div>

                    <div class="row">
                        <div class="col l12 m12 s12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>{% trans 'Name' %} </th>
                                        <th>{% trans 'Votes' %}</th>
                                        <th>{% trans 'Action' %} </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for boardgame in user_boardgames %}
                                    <tr id="tr{{boardgame.id}}">
                                        <td><a href={{boardgame.url}}>{{ boardgame.name|safe|escape }}</a></td>
                                        <td>{{boardgame.votes}}</td>
                                        <td><a class="waves-effect waves-light btn modal-trigger"
                                                href="#{{boardgame.pk}}">{% trans 'Delete' %}</a>
                                        </td>
                                    </tr>
                                    <div id="{{boardgame.pk}}" class="modal">
                                        <div class="modal-content">
                                            <h4>Delete the boardgame</h4>
                                            <p>{% blocktrans with name=boardgame.name|safe|escape %} Are you sure you want to
                                                delete
                                                the boardgame:
                                                <b>{{ name }}</b>{% endblocktrans %}
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" data-id={{boardgame.pk}} class="modal-close waves-effect waves-light btn
                                                delete-button">{% trans 'Delete the boardgame' %}</button>
                                            <button
                                                class="modal-close waves-effect waves-light btn">{% trans 'Cancel' %}</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-action">
                    <a href="{% url 'boardgames_index'%}" class="btn btn-default">Go Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript">

    const delete_boardgame = (boardgame_id) => {
        $.ajax({
            type: "POST",
            dataType: 'json',
            url: '{% url 'boardgames_delete' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'boardgame_id': boardgame_id,
            },
            success: function (data) {
                M.toast({
                    html: data.msg,
                    displayLength: 2000,
                    classes: "success"
                });
                setTimeout(() => location.reload(), 2000);
            },
            error: function () {
                M.toast({
                    html: "Error deleting the boardgame",
                    displayLength: 2000,
                    classes: "error"
                });
            }
        });
    }

    $(document).ready(function () {
        $('.modal').modal();

        $('.delete-button').each(function () {
            var $this = $(this);
            $this.on('click', function (event) {
                event.preventDefault();
                var boardgame_id = $this.data('id');
                delete_boardgame(boardgame_id);
                table_row = document.getElementById('tr' + boardgame_id);
                table_row.remove();
            })
        })

    });

</script>
{% endblock %}