{% extends "base.html" %}
{% load i18n %}
{% load tz %}

{% block content %}
<div class="container">
    <h3>{% trans "Blog" %}</h3>
    {% for post in posts %}
    <div class="row">
        <div class="col l12 m12 s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ post.title }}</span>
                    <p> {{ post.content }} </p>
                </div>
                <div class="card-action">
                    <i>{{ post.publication | timezone:"Europe/Warsaw" }}</i>
                    <strong>{{ post.author }}</strong>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
        <div class="col l12 m12 s12">
            {% trans "Nothing to display" %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
