{% extends "base.html" %}
{% load i18n %}
{% load time_utils %}

{% block content %}
<div class="container">
    <h3>{% trans "Blog" %}</h3>
    <div id="orgs" class="col s12">
        <ul class="collection">
            {% for post in posts %}
            <li>
                <div class="collection-item">
                    <a href="{% url 'blog_edit' post.pk %}">{{ post }}</a>
                    <div class="right">
                        <a href="{% url 'blog_edit' post.pk %}">
                            <i class="material-icons">mode_edit</i>
                        </a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}