{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}

{% block content %}
<div class="container">
    <h3>
        {% trans "Add post" %}
    </h3>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {{ form|materializecss:'l7 m10 s12' }}
        </div>
        <div class="row">
            <div class="col m6 s6 offset-s3 offset-m4">
                <button type="submit" class="waves-effect waves-light btn">{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
    $('textarea').addClass("materialize-textarea");
});
</script>
{% endblock custom_scripts %}
