{% extends 'base.html' %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">
        <h3>
          {% trans "Sponsors" %}
        </h3>

      </div>
      <div class="fixed-action-btn">
        <a href="{% url 'sponsors_add' %}" class="waves-effect waves-light btn-floating secondary-content btn-large">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>
    <ul class="collapsible" data-collapsible="accordion">
      {% for object in objects %}
        <li>
          <div class="collapsible-header">
            <i class="material-icons">contacts</i>
            <strong>{{ object.name }} -
                <span class="sponsor-type-badge sponsor-type-{{ object.sponsor_type }}">{{ object.get_sponsor_type_display }}</span>
            </strong>
            <div class="switch right">
              <a href="{% url 'sponsors_edit' object.id %}">
                <i class="material-icons">mode_edit</i>
              </a>
              <label>
                <input type="checkbox" {% if object.is_active %}checked{% endif %}>
                <span class="lever" data-id="{{ object.id }}"></span>
              </label>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script type="text/javascript">
      $(document).ready(function(){
          $('.lever').on('click', function(){
              $.ajax({
                  type: "POST",
                  url: '{% url 'sponsors_toggle_active' %}',
                  data: {
                      'csrfmiddlewaretoken': '{{ csrf_token }}',
                      'key': $(this).data('id')
                  },
                  error: function(){
                      alert("Error occured!");
                  }
              });
          });
      });
  </script>
{% endblock %}
