{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load string_utils %}

{% block content %}
<!-- Start: Modal Structure -->
<div id="choose_logo" class="modal">
  <div class="modal-content">
    <h4>Select file from S3 bucket</h4>
    <div class="row">
      <div class="input-field col s12">
        <select id="select_logo">
          <option value="" disabled selected>Choose logo</option>
          {% if s3_objects is not None %}
            {% for obj in s3_objects %}
              <option value="{{ bucket_url }}{{ obj.Key }}" data-icon="{{ bucket_url }}{{ obj.Key }}">{{ obj.Key|basename }}</option>
            {% endfor %}
          {% endif %}
        </select>
        <label>
          Sponsors uploded to S3
        </label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a id="choose_logo_for_sponsor" href="#!" class="waves-effect waves-green btn-flat">Add</a>
    <a id="close_form" href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<!-- End: Modal Structure -->
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    {% if object %}
      {% include '_form.html' with form_name='Edit sponsor' %}
    {% else %}
      {% include '_form.html' with form_name='Add sponsor' %}
    {% endif %}
  </div>
  </div>
</form>

{% endblock content %}

{% block custom_scripts %}
<script type="text/javascript" src="{% static 'script/choose_from_s3.min.js' %}"></script>
{% endblock custom_scripts %}