{% extends "base.html" %}
{% load i18n %}
{% load time_utils %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#info" class="active">{% trans 'Information' %}</a></li>
        {% if zosia %}
            <li class="tab col s2"><a href="#zosia">{% trans 'ZOSIA' %}</a></li>
        {% endif %}
        {% if zosia and zosia.is_lectures_open %}
            <li class="tab col s2"><a href="{% url 'lectures_add' %}" target="_self">{% trans 'Add lecture' %}</a></li>
        {% endif %}
        {% if zosia and zosia.is_rooming_open %}
            <li class="tab col s2"><a href="{% url 'rooms_index' %}" target="_self">{% trans 'Rooms' %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="row" id="info">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">{{ user.full_name }} - {% trans "profile" %}</div>
          <div class="row">
            <div class="col s12">
              {{ user.email }}
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="{% url 'accounts_edit' %}">{% trans "Edit" %}</a>
          <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
        </div>
      </div>
    </div>
  </div>

  {% if zosia %}
  <div class="row" id="zosia">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            {% if current_prefs %}
              {{ current_prefs.zosia }}
              {% if current_prefs.organization %}
              <div class="chip">
                {{ current_prefs.organization }}
              </div>
              {% endif %}
            {% else %}
              ZOSIA
            {% endif %}
          </div>
          {% if current_prefs %}
            {% if current_prefs.payment_accepted %}
              <blockquote style="border-left-color: #0cb30c">
                {% trans "Your payment has been accepted :)" %}
              </blockquote>
              <div class="row">
                <div class="col s12">
                  {% if current_prefs.room is not None %}
                    <span style="font-size: 1.1rem">{% trans "You have been assigned to" %} <b>{{ current_prefs.room }}</b></span>
                    {% if current_prefs.roommate is not None %}
                    <br/>
                    <span>{% trans "Room will be occupied by: " %}{{ current_prefs.roommate }}</span>
                    {% endif %}
                  {% else %}
                    <p>{% trans "Your rooms assignment will start at" %}: {{current_prefs.rooming_start_time | zoneformat:"Europe/Warsaw"}}</p>
                  {% endif %}
                </div>
              </div>
            {% else %}
              <blockquote>
                  <i>{% trans "Payment information for money transfer" %}</i><br />
                  {% trans "Total price" %}: <strong>{{ current_prefs.price }} PLN</strong><br />
                  {% trans "Transfer title" %}: <strong>{{ current_prefs.transfer_title }}</strong><br />
                  {% trans "Account number" %}: <strong>{{ current_prefs.zosia.account_number }}</strong><br />
                  <i>({% trans "Check if bank name is correct" %}: <strong>{{ current_prefs.zosia.account_bank }}</strong>)</i><br />
                  {% trans "Receiver name" %}: <strong>{{ current_prefs.zosia.account_owner }}</strong><br />
                  {% trans "Receiver address" %}: <strong>{{ current_prefs.zosia.account_address }}</strong><br />
                  <br />
                  <strong><i style="font-size: 1.125rem; color: #ff4000">
                      {% trans "IMPORTANT NOTE: Please copy and use the provided transfer title! Otherwise, the organizers may not guarantee your time bonus for rooming." %}
                  </i></strong>
                  {% if current_prefs.discount_round > 0 and current_prefs.is_student %}
                  <br />
                  <strong><i style="font-size: 1rem; color: #ff4000">
                    {% trans "Your total price includes a discount. You should pay for the conference immediately so as not to lose your discount." %}
                </i></strong>
                  {% endif %}
              </blockquote>
            {% endif %}

            <div class="row">

            </div>

            <h5>{% trans "Accommodation" %}</h5>

            <div class="row">
              {% if current_prefs.vegetarian %}
                <div class="teal-text col s12">
                  <i class="fa fa-leaf" aria-hidden="true"></i>
                  {% trans "Vegetarian" %}
                </div>
              {% endif %}

              <div class="col s12">
                <i class="fa fa-bus" aria-hidden="true"></i>
                {% if current_prefs.transport %}
                  {{ current_prefs.transport }}
                {% else %}
                  {% trans "You haven't selected any form of transport" %}
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col l3 m6 s12">
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-1-2" {% if current_prefs.dinner_day_1 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 1 - dinner" %}</span>
                </label>
                <br/>
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-1-0" {% if current_prefs.accommodation_day_1 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 1 - accommodation" %}</span>
                </label>
              </div>
              <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-2-1" {% if current_prefs.breakfast_day_2 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 2 - breakfast" %}</span>
                </label>
                <br/>
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-2-2" {% if current_prefs.dinner_day_2 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 2 - dinner" %}</span>
                </label>
                  <br />
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-2-0" {% if current_prefs.accommodation_day_2 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 2 - accommodation" %}</span>
                </label>
              </div>
                <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-3-1" {% if current_prefs.breakfast_day_3 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 3 - breakfast" %}</span>
                </label>
                <br/>
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-3-2" {% if current_prefs.dinner_day_3 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 3 - dinner" %}</span>
                </label>
                    <br />
                    <label>
                        <input type="checkbox" class="filled-in" id="filled-in-box-3-0" {% if current_prefs.accommodation_day_3 %}checked="checked" {% endif %} disabled />
                        <span>{% trans "Day 3 - accommodation" %}</span>
                    </label>
              </div>
              <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-4-1" {% if current_prefs.breakfast_day_4 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 4 - breakfast" %}</span>
                </label>
              </div>
            </div>

            <h5>
              <i class="fa fa-user" aria-hidden="true"></i>
              {{ current_prefs.get_shirt_type_display }}
              {{ current_prefs.get_shirt_size_display }}
            </h5>
          {% else %}
            <div class="card-content">
              {% if not registration_open %}
                {% if zosia.registration_suspended %}
                <p>{% trans "Registration is suspended, please wait for further information" %}</p>
                {% else %}
                <p>{% trans "Registration will open at" %} {{ registration_start | zoneformat:"Europe/Warsaw" }}</p>
                {% endif %}
              {% elif zosia.is_registration_over %}
              <p>{% trans "Registration has ended - we hope to see you next year :)" %}</p>
              {% else %}
              <p>{% trans "You are not registered - no preferences set." %}</p>
              {% endif %}
            </div>
          {% endif %}
        </div>
        <div class="card-action">
          {% if enable_preferences %}
          <a href="{% url 'user_zosia_register' %}">
              {% if current_prefs %}
              {% trans "Update preferences" %}
              {% else %}
              {% trans "Register" %}
              {% endif %}
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
