{% extends "base.html" %}
{% load i18n %}
{% load time_utils %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s2"><a href="#info" class="active">{% trans 'Information' %}</a></li>
        {% if zosia %}
            <li class="tab col s2"><a href="#zosia">{% trans 'ZOSIA' %}</a></li>
        {% endif %}
        {% if zosia and zosia.is_lectures_open %}
            <li class="tab col s2"><a href="{% url 'lectures_add' %}" target="_self">{% trans 'Add lecture' %}</a></li>
        {% endif %}
        {% if zosia and zosia.is_rooming_open %}
            <li class="tab col s2"><a href="{% url 'rooms_index' %}" target="_self">{% trans 'Rooms' %}</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="row" id="info">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">{{ user.display_name }} - {% trans "profile" %}</div>
          <div class="row">
            <div class="col s12">
              {{ user.email }}
            </div>
          </div>
        </div>
        <div class="card-action">
          <a href="{% url 'accounts_edit' %}">{% trans "Edit" %}</a>
          <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
        </div>
      </div>
    </div>
  </div>

  {% if zosia %}
  <div class="row" id="zosia">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <div class="card-title">
            {% if current_prefs %}
              {{ current_prefs.zosia }}
              {% if current_prefs.organization %}
              <div class="chip">
                {{ current_prefs.organization }}
              </div>
              {% endif %}
            {% else %}
              ZOSIA
            {% endif %}
          </div>
          {% if current_prefs %}
            {% if current_prefs.payment_accepted %}
              <blockquote>
                {% trans "Your payment has been accepted :)" %}
              </blockquote>
              <div class="row">
                <div class="col s12">
                    <p>{% trans "Your rooms assignment will start at" %}: {{current_prefs.rooming_start_time | zoneformat:"Europe/Warsaw"}}</p>
                </div>
              </div>
            {% else %}
              <blockquote>
                <strong>{% trans "Payment information" %}</strong> <br />
                <span>{% trans "Total" %}: {{ current_prefs.price }} PLN</span><br />
                {{ current_prefs.zosia.account_number }}<br />
                {{ current_prefs.zosia.account_details }}
              </blockquote>
            {% endif %}

            <div class="row">

            </div>

            <h5>{% trans "Accommodation" %}</h5>

            <div class="row">
              {% if current_prefs.vegetarian %}
                <div class="teal-text col s12">
                  <i class="fa fa-leaf" aria-hidden="true"></i>
                  {% trans "Vegetarian" %}
                </div>
              {% endif %}

              <div class="col s12">
                <i class="fa fa-bus" aria-hidden="true"></i>
                {% if current_prefs.bus %}
                  {{ current_prefs.bus }}
                {% else %}
                  {% trans "You didn't select bus" %}
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col l3 m6 s12">
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-1-2" {% if current_prefs.dinner_1 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 1 - dinner" %}</span>
                </label>
                <br/>
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-1-0" {% if current_prefs.accomodation_day_1 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 1 - accommodation" %}</span>
                </label>
              </div>
              <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-2-1" {% if current_prefs.breakfast_2 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 2 - breakfast" %}</span>
                </label>
                <br/>
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-2-2" {% if current_prefs.dinner_2 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 2 - dinner" %}</span>
                </label>
                  <br />
                <label>
                    <input type="checkbox" class="filled-in" id="filled-in-box-2-0" {% if current_prefs.accomodation_day_2 %}checked="checked" {% endif %} disabled />
                    <span>{% trans "Day 2 - accommodation" %}</span>
                </label>
              </div>
                <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-3-1" {% if current_prefs.breakfast_3 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 3 - breakfast" %}</span>
                </label>
                <br/>
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-3-2" {% if current_prefs.dinner_3 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 3 - dinner" %}</span>
                </label>
                    <br />
                    <label>
                        <input type="checkbox" class="filled-in" id="filled-in-box-3-0" {% if current_prefs.accomodation_day_3 %}checked="checked" {% endif %} disabled />
                        <span>{% trans "Day 3 - accommodation" %}</span>
                    </label>
              </div>
              <div class="col l3 m6 s12">
                <label>
                  <input type="checkbox" class="filled-in" id="filled-in-box-4-1" {% if current_prefs.breakfast_4 %}checked="checked"{% endif %} disabled />
                  <span>{% trans "Day 4 - breakfast" %}</span>
                </label>
              </div>
            </div>

            <h5>
              <i class="fa fa-user" aria-hidden="true"></i>
              {{ current_prefs.get_shirt_type_display }}
              {{ current_prefs.get_shirt_size_display }}
            </h5>
          {% else %}
            <div class="card-content">
              <p> No preferences set. </p>
            </div>
          {% endif %}

          {% if all_prefs %}
            <h6>{% trans "Your previous conferences" %}</h6>
            <p>
              {% for zosia in all_prefs %}
                <div class="chip">{{ zosia }}</div>
              {% endfor %}
            </p>
          {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'user_zosia_register' zosia.id %}">{% trans "Update preferences" %}</a>
        </div>
      </div>
    </div>
    {% endif %}

  </div>
</div>
{% endblock %}
