{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load materializecss %}

{% block content %}
<!-- Start: Modal Structure -->
<div id="add_org" class="modal">
  <div class="modal-content">
    <h4>Add organization</h4>
    <div class="progress">
      <div id="progress_type" class=""></div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="org_name" type="text" />
        <label class="" for="org_name">
          Organization name
        </label>
        <span id="name_error" class="error-text"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a id="add_org_accept" href="#!" class="waves-effect waves-green btn-flat">Add</a>
    <a id="close_org_accept" href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<!-- End: Modal Structure -->
<div class="container">
    <h3>
        {% if object %}
        {% trans "Update preferences" %}
        {% else %}
        {% trans "Register" %}
        {% endif %}
    </h3>
    <div class="row">
        <div class="col s12 m8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "Cost" %}</span>
                    <blockquote style="border-left-color: #3333cc">
                        <i>{% trans "Prices (per night)" %}:</i><br />
                        {% trans "Accommodation" %}: <strong>{{ zosia.price_accommodation }} PLN</strong><br />
                        {% trans "Accommodation + breakfast" %}: <strong>{{ zosia.price_accommodation_breakfast }} PLN</strong><br />
                        {% trans "Accommodation + dinner" %}: <strong>{{ zosia.price_accommodation_dinner }} PLN</strong><br />
                        {% trans "Accommodation + both meals" %}: <strong>{{ zosia.price_whole_day }} PLN</strong><br />
                    </blockquote>
                    <blockquote style="border-left-color: #ee80ee">
                        <i>{% trans "Additional prices" %}:</i><br />
                        {% trans "Administration fee" %}: <strong>{{ zosia.price_base }} PLN</strong><br />
                        {% trans "Bus fee" %}: <strong>{{ zosia.price_transport }} PLN</strong><br />
                    </blockquote>
                    <blockquote style="border-left-color: #9900ff">
                        <i>{% trans "Total cost (updated automatically)" %}:</i><br />
                        <strong><span id="total-price">{% if object %}{{object.price}}{% else %}0{% endif %}</span> PLN</strong>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% include '_form.html' %}
    </form>
</div>
{% endblock content %}

{% block custom_scripts %}
{% if not payed %}
<script type="text/javascript" src="{% static 'script/add_organization.min.js' %}"></script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
    $('textarea').addClass("materialize-textarea");

    {% if payed %}
    const payed = true;
    {% else %}
    const payed = false;
    {% endif %}

    const dependencies = {
        {% for accommodation, meals in field_dependencies.items %}
        "#id_{{ accommodation }}" : [ {% for m in meals.values %} "#id_{{ m }}", {% endfor %} ],
        {% endfor %}
    }

    const enableMeals = accommodations => {
        accommodations.forEach(accommId => {
            const isAccommChecked = $(accommId).is(':checked')
            dependencies[accommId].forEach(mealId => {
                $(mealId).attr('disabled', payed || !isAccommChecked);
                if (!isAccommChecked) {
                  $(mealId).prop('checked', false);
                }
            })
        })
    }

    const countPayment = () => {
        let totalPayment = {{ zosia.price_base }};

        for (accommId in dependencies) {
            const breakfastId = dependencies[accommId].find(mealId => /breakfast/.test(mealId));
            const dinnerId = dependencies[accommId].find(mealId => /dinner/.test(mealId));
            const isAccommChecked = $(accommId).is(':checked')
            const isBreakfastChecked = $(breakfastId).is(':checked')
            const isDinnerChecked = $(dinnerId).is(':checked')

            if (!isAccommChecked && !isBreakfastChecked && !isDinnerChecked) {
                totalPayment += 0;
            } else if (isBreakfastChecked && isDinnerChecked) {
                totalPayment += {{ zosia.price_whole_day }};
            } else if (isBreakfastChecked && !isDinnerChecked) {
                totalPayment += {{ zosia.price_accommodation_breakfast }};
            } else if (!isBreakfastChecked && isDinnerChecked) {
                totalPayment += {{ zosia.price_accommodation_dinner }};
            } else {
                totalPayment += {{ zosia.price_accommodation }};
            }
        }

        if ($('select[name="bus"]').val() !== '') {
            totalPayment += {{ zosia.price_transport }};
        }

        $("#total-price").text(totalPayment);
    }

    for (accommId in dependencies) {
        $(accommId).change(event => {
            enableMeals(["#" + event.currentTarget.id]);
            countPayment();
        });
        dependencies[accommId].forEach(mealId => $(mealId).change(event => countPayment()));
    }

    $('select[name="bus"]').change(event => countPayment());
    enableMeals(Object.keys(dependencies));

    if(!payed) {
        countPayment();
    }
  });
</script>
{% endblock custom_scripts %}
