{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load materializecss %}

{% block content %}
<!-- Start: Modal Structure -->
<div id="add_org" class="modal">
  <div class="modal-content">
    <h4>Add organization</h4>
    <div class="progress">
      <div id="progress_type" class=""></div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="org_name" type="text" />
        <label class="" for="org_name">
          Organization name
        </label>
        <span id="name_error" class="error-text"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a id="add_org_accept" href="#!" class="waves-effect waves-green btn-flat">Add</a>
    <a id="close_org_accept" href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>
<!-- End: Modal Structure -->
<div class="container">
    <h3>
        {% if object %}
        {% trans "Update preferences" %}
        {% else %}
        {% trans "Register" %}
        {% endif %}
    </h3>
    <div class="row">
        <div class="col s12 m8">
            {% if before_discounts %}
            <div class='card'>
                <div class='card-content'>
                    The first round of funding starts 18.12.2023, registering before this date,
                    you will not get a discount - see the <a href="{% url 'questions_index' %}">Q&A</a> for more information.
                    At this point, you can still register to get bonus time for rooms enrollment.
                </div>
            </div>
            {% endif %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans "Cost" %}</span>
                    <blockquote style="border-left-color: #3333cc">
                        <i>{% trans "Price (per night)" %}:</i><br />
                        {% comment %} {% trans "Accommodation" %}: <strong>{{ zosia.price_accommodation }} PLN</strong><br />
                        {% trans "Accommodation + breakfast" %}: <strong>{{ zosia.price_accommodation_breakfast }} PLN</strong><br />
                        {% trans "Accommodation + dinner" %}: <strong>{{ zosia.price_accommodation_dinner }} PLN</strong><br /> {% endcomment %}
                        {% trans "Accommodation + both meals" %}: <strong>{{ zosia.price_whole_day }} PLN</strong><br />
                        <div id="discount" style="display: none;">
                            Your discount: <strong style="color: red;"><span id="discount_amount">0</span> PLN</strong><br/>
                            {% if first_call %}
                            <small><b>This is your possible discount</b>. The actual discount will be calculated after you save your registration.</small><br/>
                            {% endif %}
                        </div>
                    </blockquote>
                    <blockquote style="border-left-color: #ee80ee">
                        <i>{% trans "Additional prices" %}:</i><br />
                        {% trans "Administration fee" %}: <strong>{{ zosia.price_base }} PLN</strong><br />
                        {% trans "Transport fee" %}: <strong><span id="transport-fee">{{ zosia.price_transport }}</span> PLN</strong><br />
                        {% trans "Baggage transfer fee" %}: <strong>{{ zosia.price_transfer_baggage }} PLN</strong><br />
                        <small>We offer you to transfer your baggage from the transport stop to the hotel and back.<br/>
                            Check out the Q&A for more information.</small><br/>
                    </blockquote>
                    <blockquote style="border-left-color: #9900ff">
                        <i>{% trans "Total cost (updated automatically)" %}:</i><br />
                        <strong><span id="total-price">{% if object %}{{object.price}}{% else %}0{% endif %}</span> PLN</strong>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        {% include '_form.html' %}
    </form>
</div>
{% endblock content %}

{% block custom_scripts %}
{% if not payed %}
<script type="text/javascript" src="{% static 'script/add_organization.min.js' %}"></script>
{% endif %}
<script type="text/javascript">
  $(document).ready(function() {
    $('select').formSelect();
    $('textarea').addClass("materialize-textarea");

    {% if payed %}
    const payed = true;
    {% else %}
    const payed = false;
    {% endif %}

    const dependencies = {
        {% for accommodation, meals in field_dependencies.items %}
        "#id_{{ accommodation }}" : [ {% for m in meals.values %} "#id_{{ m }}", {% endfor %} ],
        {% endfor %}
    }

    const transport_price = {{ zosia.price_transport }};
    const transport_discount_price = {{ zosia.price_transport_with_discount }};

    let discount = {{ discount }};
    {% if object.discount %}
    discount = {{ object.discount }};
    {% endif %}
    $('#discount_amount').text(discount);

    const enableMeals = accommodations => {
        accommodations.forEach(accommId => {
            const isAccommChecked = $(accommId).is(':checked')
            dependencies[accommId].forEach(mealId => {
                if (!isAccommChecked) {
                  $(mealId).prop('checked', false);
                }else if($(mealId).attr('disabled'))
                {
                  $(mealId).prop('checked', true);
                }
                $(mealId).attr('disabled', payed || !isAccommChecked);
            })
        })
    }

    const countPayment = () => {
        if (payed) return;
        let totalPayment = {{ zosia.price_base }};
        let totalDiscount = 0;

        const isStudent = $('#id_is_student').is(':checked');
        let transport = transport_price;
        if (isStudent){
            transport = transport_discount_price;
            discount > 0 && $('#discount').show();
        } else {
            $('#discount').hide();
            $('#id_student_number').parent().hide()
        }
        $("#transport-fee").text(transport);

        for (accommId in dependencies) {
            const breakfastId = dependencies[accommId].find(mealId => /breakfast/.test(mealId));
            const dinnerId = dependencies[accommId].find(mealId => /dinner/.test(mealId));
            const isAccommChecked = $(accommId).is(':checked');
            const isBreakfastChecked = $(breakfastId).is(':checked');
            const isDinnerChecked = $(dinnerId).is(':checked');

            if (!isAccommChecked && !isBreakfastChecked && !isDinnerChecked) {
                totalPayment += 0;
            } else if (isBreakfastChecked && isDinnerChecked) {
                totalPayment += {{ zosia.price_whole_day }};
                totalDiscount += isStudent ? discount : 0
            } else if (isBreakfastChecked && !isDinnerChecked) {
                totalPayment += {{ zosia.price_accommodation_breakfast }};
                totalDiscount += isStudent ? discount : 0
            } else if (!isBreakfastChecked && isDinnerChecked) {
                totalPayment += {{ zosia.price_accommodation_dinner }};
                totalDiscount += isStudent ? discount : 0
            } else {
                totalPayment += {{ zosia.price_accommodation }};
                totalDiscount += isStudent ? discount : 0
            }
        }

        if ($('select[name="transport"]').val() !== '') {
            totalPayment += transport;
        }

        if($('#id_transport_baggage').is(':checked')) {
            totalPayment += {{ zosia.price_transfer_baggage }};
        }

        const totalPaymentWithDiscount = Math.max(0, totalPayment - totalDiscount);
        if (totalDiscount > 0) {
            $("#total-price").html(`<s>${totalPayment}</s> ${totalPaymentWithDiscount}`);
        } else {
            $("#total-price").text(totalPayment);
        }
    }

    for (accommId in dependencies) {
        $(accommId).change(event => {
            enableMeals(["#" + event.currentTarget.id]);
            countPayment();
        });
        dependencies[accommId].forEach(mealId => $(mealId).change(event => countPayment()));
    }

    $('#id_is_student').change(event => {
            alert("Be careful. You won't be able to change it later!")
            countPayment()
            if (event.target.checked) {
                $('#id_student_number').parent().show()
            } else {
                const student_number_field = $('#id_student_number')
                student_number_field.val('')
                student_number_field.parent().hide()
            }
        }
    )

    $('#id_transport_baggage').change(event => countPayment());

    $('select[name="transport"]').change(event => countPayment());
    enableMeals(Object.keys(dependencies));

    {% if not object.is_student %}
    $('#id_student_number').parent().hide();
    {% endif %}


    if (!payed) {
        countPayment();
    } else {
        {% if object.is_student %}
        if (discount > 0) {
            $('#discount').show();
        }
        $("#transport-fee").text(transport_discount_price);
        {% endif %}
    }
  });
</script>
{% endblock custom_scripts %}
