{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="col s8 m7">
        <h2 class="header center-align text-dark-green">
            {% trans 'Sign up complete' %}
        </h2>
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        {% blocktrans %}
                        We've sent an e-mail to {{ form.user.email }} with instructions for
                        activating your account. You should receive them shortly.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                        If you don't receive the e-mail, please make sure you've entered
                        correct address and/or check your spam folder.
                        {% endblocktrans %}
                    </p>
                    <p>
                        {% blocktrans %}
                        If you experience any problems with signing up, please let us know
                        at <strong>ksi@cs.uni.wroc.pl</strong>.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="card-action">
                    <a href="{% url 'index' %}">
                        {% trans 'Back to homepage' %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
