{% load i18n %}{% autoescape off %}
{% trans "Do not reply. If you have questions or complaints, contact us at ksi@cs.uni.wroc.pl" %}
{% blocktrans %}You're receiving this email because you requested an account creation at {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page to activate it:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts_activate' uidb64=uid token=token %}
{% endblock %}
{% trans "Your username, in case you've forgotten:" %} {{ user.email }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
