{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="container">
      {% include '_form.html' with form_name="Update preferences" %}
    </div>
  </form>
{% endblock content %}

{% block custom_scripts %}
  <script type="text/javascript">
      $(document).ready(function() {
          $('select').formSelect();
          $('textarea').addClass('materialize-textarea');
      });
  </script>
{% endblock custom_scripts %}
