{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12">
        <h3>
          {% trans "User preferences" %}
        </h3>
      </div>
    </div>

    <ul class="collection with-header">
      <li class="collection-header row">
        <div class="col l1 m2 s12">
          <h5>{% trans "User hash" %}</h5>
        </div>
        <div class="col l4 m6 s12">
          <h5>{% trans "User name (with payment)" %}</h5>
        </div>
        <div class="col l2 m4 s12">
          <h5>{% trans "Payment accepted" %}</h5>
        </div>
        <div class="col l5 m12 s12">
          <h5>{% trans "Bonus" %}</h5>
        </div>
      </li>
      {% for object in objects %}
        <li class="collection-item row" style="padding-top: 20px">
          <div class="col l1 m2 s12">
            {{ object.user.short_hash }}
          </div>
          <div class="col l4 m6 s12">
            <a href="{% url 'user_preferences_edit' object.id %}" style="font-size: 16px">
              {{ object.user }} ({{ object.price }} PLN)
            </a>
          </div>
          <div class="switch col l2 m4 s12" style="margin-bottom: 7px;">
            <label>
              No
              <input type="checkbox" id="set-accepted-{{ object.id }}" {% if object.payment_accepted %}checked{% endif %}>
              <span class="lever" data-id="{{ object.id }}"></span>
              Yes
            </label>
          </div>
          <div id="set-bonus-{{ object.id }}" class="col l5 m12 s12 {% if not object.payment_accepted %}hide{% endif %}">
            <div>Bonus: <span id="bonus-value-{{ object.id }}">{{ object.bonus_minutes }}</span> min</div>
            <div class="bonus-range" data-bonus="{{ object.bonus_minutes }}" data-id="{{ object.id }}" style="margin-bottom: 5px;"></div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="row">
      <div class="col l12 m12 s12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              Import payments (JSON)
            </span>
                <div class="file-field input-field">
                  <div class="btn">
                    <span>File</span>
                    <input type="file" id="payments" name="payments" accept="application/json text/x-json">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
            <ul id="report"> </ul>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn" id="import_payments">import</a>
          </div>

          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block custom_scripts %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.css' %}"  media="screen,projection"/>
  <script type="text/javascript" src="{% static 'script/nouislider.min.js' %}"></script>
  <script type="text/javascript">
      const max_bonus = {{ max_bonus }}
      const min_bonus = {{ min_bonus }}
      const bonus_step = {{ bonus_step }}

      const QUEUE = [];
      let QUEUE_N = 0;

      let paymentInfo = {
        {% for object in objects %}
        "{{ object.id }}": {
          "id": {{ object.id }},
          "firstName": "{{ object.user.first_name }}",
          "lastName": "{{ object.user.last_name}}",
          "hash": "{{ object.user.short_hash }}",
          "price": {{ object.price }},
          "isPayed": {% if object.payment_accepted %} true {% else %} false {% endif %},
          "bonus": {{ object.bonus_minutes }},
        },
        {% endfor %}
      }

      const setBonus = (id, value) => {
        if (value > max_bonus) {
          value = max_bonus
        }

        if (value < min_bonus) {
          value = min_bonus
        }

        $.ajax({
            type: "POST",
            url: '{% url 'user_preferences_admin_edit' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'key': id,
                'command': '{{ change_bonus }}',
                'bonus': value
            },
            success: function(data) {
                paymentInfo[id].bonus = data['bonus']
                $('#bonus-value-' + id).text(data['bonus']);
                M.toast({
                  html: data['msg'],
                  displayLength: 2000,
                  classes: "success"
                });
            },
            error: function(){
                M.toast({
                  html: "Error setting bonus.",
                  displayLength: 2000,
                  classes: "error"
                });
            }
        });
      }

      const setBonuses = () => {
        if(QUEUE_N == QUEUE.length)
          return

        const {id, value, firstName, lastName} = QUEUE[QUEUE_N];

        if (value > max_bonus) {
          value = max_bonus
        }

        if (value < min_bonus) {
          value = min_bonus
        }

        $.ajax({
            type: "POST",
            url: '{% url 'user_preferences_admin_edit' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'key': id,
                'command': '{{ change_bonus }}',
                'bonus': value
            },
            success: function(data) {
                QUEUE_N++;
                paymentInfo[id].bonus = data['bonus']
                $('#bonus-value-' + id).text(data['bonus']);
                M.toast({
                  html: data['msg'],
                  displayLength: 2000,
                  classes: "success"
                });
                setTimeout(setBonuses, 200);
            },
            error: function(){
                QUEUE_N++;
                M.toast({
                  html: "Error setting bonus.",
                  displayLength: 2000,
                  classes: "error"
                });
                setTimeout(setBonuses, 200);
            }
        });

        reportSuccess("Bonus for " + firstName + " " + lastName + " set to " + value);
      }

      const setPaymentStatus = (id, payment_status) => {
        paymentInfo[id].isPayed = payment_status;
        $('#set-accepted-' + id).attr("checked", payment_status);
        console.log(payment_status);
        if (payment_status)
        {
          $('#set-bonus-' + id).removeClass('hide');
        }
        else
        {
          $('#set-bonus-' + id).addClass('hide');
        }
      }

      const togglePayment = (id) => {
        $.ajax({
            type: "POST",
            url: '{% url 'user_preferences_admin_edit' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'key': id,
                'command': '{{ toggle_payment }}'
            },
            success: function(data) {
                M.toast({
                  html: data['msg'],
                  displayLength: 2000,
                  classes: "success"
                });
                setPaymentStatus(id, data['status']);
            },
            error: function(){
                M.toast({
                  html: "Error setting payment status.",
                  displayLength: 2000,
                  classes: "error"
                });
            }
        });
      }

      const findPaymentInfo = (user) => {
        for (let id in paymentInfo)
        {
          const info = paymentInfo[id];
          if (info.hash.toLowerCase() == user.hash.toLowerCase()) {
            return info;
          }
        }
      }

      const updateBonuses = (entries) => {
        QUEUE_N = 0;
        QUEUE.length = 0;

        for (let i = 0; i < entries.length; i++)
        {
          const entry = entries[i];
          const bonus = Math.max(Math.floor(max_bonus - bonus_step * i), min_bonus);
          QUEUE.push({
            id: entry.id,
            value: bonus,
            firstName: entry.firstName,
            lastName: entry.lastName
          })
        }
        setBonuses();
      }

      const report = $('#report');

      const reportError = (msg) => {
        console.log(msg);
        const element = $('<li class="collection-item red lighten-3">' + msg + '</li>');
        report.append(element);
      }

      const reportSuccess = (msg) => {
        console.log(msg);
        const element = $('<li class="collection-item green lighten-3">' + msg + '</li>');
        report.append(element);
      }

      const clearReport = (msg) => {
        report.empty();
      }

      const updatePayments = (data) => {
        bonus = []
        console.log(data);
        for (let i = 0; i < data.length; i++)
        {
          const entry = data[i]
          const info = findPaymentInfo(entry.user);
          if (!info)
          {
            reportError("Didn't found user: " + entry.user.firstName + " " + entry.user.hash + " " + entry.user.lastName);
            continue;
          }

          if (info.price == entry.balance)
          {
            if (!info.isPayed)
            {
              reportSuccess("Accepted payment for " + info.firstName + " " + info.hash + " " + info.lastName + ".");
              togglePayment(info.id)
            }
            else
            {
              reportSuccess(info.firstName + " " + info.hash + " " + info.lastName + " already payed")
            }
            bonus.push(info);
          }
          else
          {
            reportError("Pay mismatch for " + info.firstName + " " + info.hash + " " + info.lastName + " (payed=" + entry.payment + ",price=" + info.price + ")")
          }
        }
        updateBonuses(bonus);
      }

      const importPaymentFile = (file) => {
        var reader = new FileReader();
        reader.readAsText(file, "UTF-8");
        reader.onload = function (evt) {
          reportSuccess("Read file " + file.name);
          const json = JSON.parse(evt.target.result);
          updatePayments(json);
        }
        reader.onerror = function (evt) {
          reportError("Error reading " + file.name);
        }
      }

      $(document).ready(function(){
          $('.bonus-range').each(function(_index, obj) {
              noUiSlider.create(obj, {
                  start: [$(obj).data('bonus')],
                  step: 1,
                  connect: 'lower',
                  range: {
                      'min': min_bonus,
                      'max': max_bonus
                  },
                  format: {
                      to: function(value) {
                          return Math.round(value).toString();
                      },
                      from: function(value) {
                          return Math.round(Number(value));
                      }
                  }
              });
              obj.noUiSlider.on('set', function(values) {
                  let id = $(obj).data('id');
                  let value = parseInt(values[0]);
                  setBonus(id, value);
              });
          });

          $('#import_payments').on('click', function(event){
            clearReport();
            const files = document.getElementById("payments").files;
            for (let i = 0; i < files.length; i++)
            {
              const file = files[i];
              importPaymentFile(file);
            }
          });
          $('.lever').on('click', function(event){
            event.preventDefault();
            let id = $(this).data('id');
            togglePayment(id);
          });
      });
  </script>
{% endblock %}
