{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="Lukasz Czaplinski, Mira Szewczyk">
    <title>Zimowy Obóz Studentów Informatyki</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/navbar.css' %}" media="screen,projection" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'imgs/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon-16x16.png' %}">

    {% block custom_head %}
    {% endblock %}
</head>
<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'script/jquery.min.js' %}"></script>
    
    {% block navbar %}
        {% include "navbar.html" %}
    {% endblock %}
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <!-- FOOTER -->
    {% include 'footer.html' %}
    <script type="text/javascript" src="{% static 'script/materialize.min.js' %}"></script>

    <!-- MESSAGES -->
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('select');
            var instances = M.FormSelect.init(elems, options);
        });

        // Or with jQuery
        $(document).ready(function(){
            $('select').formSelect();
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
            {% for message in messages %}
            Materialize.toast('{{ message }}', 4000, '{{ message.tags }}');
            {% endfor %}
        });
    </script>

    {% block custom_scripts %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'script/main.js' %}"></script>
</body>
</html>
