{% load static %}
{% load i18n %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="Lukasz Czaplinski, Mira Szewczyk" name="author">
    <title>Zimowy Obóz Studentów Informatyki A</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/materialize.min.css' %}" media="screen,projection" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'css/main.css' %}" media="screen,projection" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'css/navbar.css' %}" media="screen,projection" rel="stylesheet"
          type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="{% static 'imgs/favicon-32x32.png' %}" rel="icon" sizes="32x32" type="image/png">
    <link href="{% static 'imgs/favicon-96x96.png' %}" rel="icon" sizes="96x96" type="image/png">
    <link href="{% static 'imgs/favicon-16x16.png' %}" rel="icon" sizes="16x16" type="image/png">

    {% block custom_head %}
    {% endblock %}
</head>
<body>
<!--Import jQuery before materialize.js-->
<script src="{% static 'script/jquery.min.js' %}" type="text/javascript"></script>

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}
<main>
    {% block content %}
    {% endblock %}
</main>
<!-- FOOTER -->
{% include 'footer.html' %}
<script src="{% static 'script/materialize.min.js' %}" type="text/javascript"></script>

<!-- MESSAGES -->
<script type="text/javascript">
        // Or with jQuery
        $(document).ready(function(){
            $('select').formSelect();
            $('.dropdown-trigger').dropdown();
            $('.sidenav').sidenav();
            $('.tabs').tabs();
            $('.collapsible').collapsible();
            $('.slider').slider({
                interval: 4000
            });
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                firstDay: 1
            });
            $('.timepicker').timepicker({
                twelveHour: false
            });
            {% for message in messages %}
                M.toast({html:'{{ message }}', classes:'{{ message.tags }}'});
            {% endfor %}
        });

</script>

{% block custom_scripts %}
{% endblock %}
<script src="{% static 'script/main.js' %}" type="text/javascript"></script>
</body>
</html>
