{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
<form method="post">
    {% csrf_token %}
    <div class="row">
    <div class="col s12 m6">
    <div class="card">
    <div class="card-content">
        <div class="row">
            <span class="card-title">{% trans "Boardgames" %}</span>
            {% block description %}
            {% endblock %}
        </div>
        <div class="row">
            {% for boardgame in boardgames %}
                {% block elems %}
                {% endblock %}
                {% empty %}
                <div class="row">
                <div class="col l12 m12 s12">
                    {% trans "Nothing to display" %}
                </div>
                </div>
            {% endfor %}
        </div>
        {% block action %}
        <div class="card-action">
            <button type="submit" class="waves-effect waves-light btn">{% trans 'Submit' %}</button>
            <a href="{% url url_name %}" class="btn btn-default">Go Back</a>
        </div>
        {% endblock %}
    </div>
    </div>
    </div>
    </div>
</form>
</div>
{% endblock content %}


 {% block custom_scripts %}
  <script type="text/javascript">

    const getNewInfo = () => {
        var new_info=[];
        var names=''; 
        $('input:checkbox').each(function(){
            var $this = $(this);
            if($this.is(':checked')){
                var vote = parseInt($this.data('id'), 10);
                new_info.push(vote);
                var name = $this.data('name');
                names += name + ", ";
            }
        })
        names = names.slice(0,-2);
        return [new_info, names];
    }


    {% block oldIds %}
    {% endblock %}
    

    $('.boardgame-checkbox').on('change', function() {
        if($('.boardgame-checkbox:checked').length > 3) {
            this.checked = false;
        }
    });

    const changeVote = (old_ids, new_ids, new_names) => {
        $.ajax({
            type: "POST",
            dataType: 'json',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'old_ids': JSON.stringify(old_ids),
                'new_ids': JSON.stringify(new_ids),
            },
            success: function() { 
                oldIds = new_ids;
                {% block message %}
                {% endblock %}
                M.toast({
                  html: msg,
                  displayLength: 2000,
                  classes: "success"
                });
            },
            error: function(){
                M.toast({
                  html: "Error setting boardgames votes.",
                  displayLength: 2000,
                  classes: "error"
                });
            }
        });
    }

    $(document).ready(function(){  
        $("button").on('click', function(event){
            event.preventDefault();
            var new_info = getNewInfo();
            var new_ids = new_info[0];
            var new_names = new_info[1];
            console.log(oldIds, new_ids, new_names);
            changeVote(oldIds, new_ids, new_names);
        });     
    });

  </script>
{% endblock custom_scripts %}
