{% load static %}
{% load i18n %}
{% load time_utils %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s6">
                <div class="grey-text text-lighten-4">
                    <strong>Koło Studentów Informatyki</strong><br/>
                    <p>
                        {% trans 'Room 24A' %}<br/>
                        Fryderyka Joliot-Curie 15<br/>
                        51-137 Wrocław
                    </p>
                </div>
            </div>
            <div class="col l4 s6">
                <div class="grey-text text-lighten-4">
                    <strong>{% trans 'Informations' %}</strong><br/>
                </div>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-4" href="{% url 'terms_and_conditions' %}">
                            {% trans 'Terms and conditions' %}
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-4" href="{% url 'privacy_policy' %}">
                            {% trans 'Privacy policy' %}
                        </a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-4" href="{% url 'questions_index' %}">
                            {% trans 'Q&A' %}
                        </a>
                    </li>
                    <li class="flow-text">
                        <a href="https://www.facebook.com/ZOSIA.KSI" target="_blank">
                            <i class="fa fa-facebook white-text"></i>
                        </a>
                        <a href="https://github.com/ksiuwr" target="_blank">
                            <i aria-hidden="true" class="fa fa-github white-text"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col l4 s12">
                <p>
                    <i>{% trans 'Server time' %}</i><br />
                    {% server_time %}
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016-{% now "Y" %}, Koło Studentów Informatyki
            <a class="white-text right" href="mailto:ksi@cs.uni.wroc.pl" target="_blank">
                <i class="fa fa-envelope-o white-text"></i>
                ksi@cs.uni.wroc.pl
            </a>
        </div>
    </div>
</footer>
