/*

    New palette:
    almost white: #EAECEB
    gray: #A0A8A4
    light green: #1A2236
    dark green: #163E2A
*/

/** BODY **/
.text-gray {
    color: #A0A8A4;
}

.text-dark-green {
    color: #1A2236;
}

#index-banner .header {
    margin-top: 0;
}


a {
    color: #6060A5;
}

a:hover {
    color: #9191cf;
}


.tabs {
    background-color: inherit;
}

.tabs .tab a {
    color: #1A2236;
}

.tabs .tab a:hover {
    color: #4060b3;
}

.tabs .tab a.active{
    color: #4060b3;
}

.tabs .indicator {
    background-color: #4060b3;
}

.tabs .indicator .velocity-animating{
    background-color: #1A2236;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: #4060b315;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #EAECEB;
    color: #757575;
}

main {
    flex: 1 0 auto;
    margin-bottom: 0;
  }

 /** HELPERS **/
.dates {
    margin-top: 2%;
    margin-bottom: 2%
}

footer.page-footer {
    background-color: #1A2236;
    margin-top: 0;
}


.flexbox {
    display: flex;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.text-block {
    padding: 0.5em;
}

.modal-table {
    display: inline-table;
}

.collapsible-body {
    padding: 2%;
}

.error-modal {
    color: #d32f2f;
}

.error-modal li .collapsible-header {
    color: #b71c1c;
}


.text-danger {
    background-color: rgba(255, 0, 0, 0.48);
    border-radius: 5px;
    padding: 5px;
}

.text-help ul li {
    background-color: hsla(36, 100%, 50%, 0.48);
    border-radius: 5px;
    padding: 1px;
    margin: 2px;
}


/** MESSAGES CLASSES **/
.success {
    background-color: #1de9b6;
    color: black;
}

.error {
    background-color: #ff8a80;
    color: black;
}

.warning {
    background-color: #ffd740;
    color: black;
}

/** NEW **/

.button-collapse {
    color: #A0A8A4;
}

.bg-transparent {
    padding: 20px;
}

.bg-light-green {
    padding: 20px;
    background-color: #1A2236;
}

.bg-light-green a {
    color:inherit;
}

.bg-white {
    background-color: #ffffff;
    padding: 20px;
}

.text-large {
    font-size: large;
}

/** INDEX PAGE **/

#index-banner{
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.center-items-horizontal {
    align-items: center;
    justify-content: center;
}

/*      MEDIA DEFINTION         */


@media screen and (min-width: 2881px){
    #index-banner{
        background-image: url("../imgs/blur-bg-4496x1986.png");
    }
}

@media screen and (max-width: 2880px){
    #index-banner{
        background-image: url("../imgs/blur-bg-2280x1007.png");
    }
}

@media screen and (max-width: 1600px){
    #index-banner{
        background-image: url("../imgs/blur-bg-1600x707.png");
    }
}

@media screen and (max-width: 992px){
    #index-banner{
        background-image: url("../imgs/blur-bg-992x438.png");
    }
}

@media screen and (max-width: 600px){
    #index-banner{
        background-image: url("../imgs/blur-bg-600x265.png");
        height: 500px;
    }

    .flexbox {
        display: initial;
    }
}

@media screen and (max-width: 400px){
    #index-banner{
        background-image: url("../imgs/blur-bg-600x265.png");
        height: 600px;
    }

    .flexbox {
        display: initial;
    }
}

@supports (-webkit-overflow-scrolling: touch) {
    /* CSS specific to iOS devices */
    #index-banner {  
        background-attachment: scroll !important;
    } 
}

.download-btn {
    margin: 0.1em;
}

.bg-table {
    background-color: #EAECEB;
}

/* Change indicator color to match other elements */
.slider .indicators .indicator-item.active {
    background-color:#1A2236;
}

#sidenav-menu {
    color: #1A2236;
}

.btn-large {
    font-size: 20px;
}

.main_title {
    -webkit-text-stroke: 1px #1e1e1e;
    font-weight: 700;
}

.dropdown-content li > a {
    color: #1a2236;
}

.slides li div h3 {
    font-weight: 500;
}

.hidden {
    background: repeating-linear-gradient(
        45deg,
        #c7d0ffa0, #c7d0ffa0 20px, 
        #919bd6a0 20px, #919bd6a0 40px
        );
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #1A2236;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: #5272c5;
}
