{% extends "base.html" %}
{% load i18n %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    <div class="container">
    {% if object %}
        <h3>{{ object }} - {% trans "Edit" %}</h3>
    {% else %}
        <h3>{% trans "Add lecture" %}</h3>
    {% endif %}
        {% if form.non_field_errors %}
        <div class="row">
            <div class="col s10 m8 offset-s1 offset-m2 offset-l2">
                <ul class="collapsible error-modal" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active">
                            <i class="material-icons">report_problem</i>
                            {% trans 'Error' %}
                        </div>
                        <div class="collapsible-body">
                            <p>
                                {{ form.non_field_errors|first }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        {% for field in form %}
        <div class="row">
            <div class="input-field col l6 m8 s10 offset-s2 offset-l3 offset-m2">
                {{ field }}
                <label>{{ field.label }}</label>
                {% if field.errors %}
                    <span class="text-danger">
                        {{ field.errors|first }}
                    </span>
                {% else %}
                    <span class="text-help">
                        {{ field.help_text|safe }}
                    </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="row">
            <div class="col m6 s6 offset-s3 offset-m4">
                <div class="row">
                    <input type="submit" value="{% trans 'submit' %}"  class="waves-effect waves-light btn"/>
                </div>
            </div>
        </div>
      </div>
    </div>
</form>

{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script>
{% endblock custom_scripts %}
