{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <h3>{% trans "Lectures" %}</h3>
    <a href="{% url 'lectures_staff_add' %}" class="waves-effect waves-light btn-floating secondary-content">
        <i class="material-icons">add</i>
    </a>
    <table>
        <thead>
            <tr>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Lecture type" %}</th>
                <th>{% trans "Active" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.author }}</td>
                    <td><a href="{% url 'lectures_edit' object.id %}">{{ object.title }}</a></td>
                    <td>{{ object.get_duration_display }}</td>
                    <td>{{ object.get_lecture_type_display }}</td>
                    <td>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" {% if object.accepted %}checked{% endif %}>
                                <span class="lever" data-id="{{ object.id }}"></span>
                                On
                            </label>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">{% trans "Nothing to display" %}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
