{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container">
    <h3>{% trans "Lectures" %}</h3>
    <table>
        <thead>
            <tr>
                <th>{% trans "Author" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Duration" %}</th>
                <th>{% trans "Lecture type" %}</th>
                <th>{% trans "Active" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.author }}</td>
                    <td>{{ object.title }}</td>
                    <td>{{ object.get_duration_display }}</td>
                    <td>{{ object.get_lecture_type_display }}</td>
                    <td>
                        <div class="switch">
                            <label>
                                Off
                                <input type="checkbox" {% if object.is_accepted %}checked{% endif %}>
                                <span class="lever" data-id="{{ object.id }}"></span>
                                On
                            </label>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">{% trans "Nothing to display" %}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}
