{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load cache %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#by-room">{% trans 'By room' %}</a></li>
                <li class="tab col s6"><a href="#by-user">{% trans 'By user' %}</a></li>
            </ul>
        </div>

        <div class="col s12" id="by-room">
            <a class="btn-floating btn waves-effect waves-light blue download-btn"
               href="{% url 'rooms_report' %}?download=rooms"><i class="material-icons">file_download</i></a>
            <table class="highlight responsive-table bg-table">
                <thead>
                <tr>
                    <th>{% trans 'Room' %}</th>
                    <th>{% trans 'Capacity' %}</th>
                    <th>{% trans 'Occupied' %}</th>
                    <th>{% trans 'Users' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for r in rooms %}
                <tr>
                    <td>{{r.name}}</td>
                    <td>{{r.capacity}}</td>
                    <td>{{r.members_count}}</td>
                    <td>{{r.members_to_string}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col s12" id="by-user">
            <a class="btn-floating btn waves-effect waves-light blue download-btn"
               href="{% url 'rooms_report' %}?download=users"><i class="material-icons">file_download</i></a>
            <table class="highlight responsive-table bg-table">
                <thead>
                <tr>
                    <th>{% trans 'User' %}</th>
                    <th>{% trans 'Paid' %}</th>
                    <th>{% trans 'Room' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for r in user_preferences %}
                <tr>
                    <td>{{r.user}}</td>
                    <td>{{r.payment_accepted}}</td>
                    <td>{{r.room.name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{% endblock custom_scripts %}
