{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}


<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <div class="container">
      <h3>{% trans "Log in" %}</h3>
      {% if form.non_field_errors %}
        <ul class="collapsible error-modal" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">report_problem</i>Error</div>
            <div class="collapsible-body"><p>
              {{ form.non_field_errors|first }}
            </p></div>
          </li>
        </ul>
      {% endif %}
      {% for field in form %}
          <div class="row">
            <div class="input-field col l6 m8 s10 offset-s2 offset-l3 offset-m2">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <span class="text-danger">
                  {{ field.errors|first }}
                </span>
                {% else %}
                <span class="help-block hint">
                  {{ field.help_text }}
                </span>
              {% endif %}
            </div>
          </div>
      {% endfor %}
      <div class="row">
        <div class="col m6 s6 offset-s3 offset-m4">

          <div class="row">
              <input type="submit" value="login"  class="waves-effect waves-light btn"/>
              <input type="hidden" name="next" value="{{ next }}"  />
          </div>


          <div class="row">
              <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          </div>
        </div>
      </div>
  </div>
</form>

{% endblock %}
