{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">

  <div class="row">
    <div class="col s8 offset-s1 offset-m2 offset-l3">
      <p>
        {% blocktrans %}
        Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
        {% endblocktrans %}
      </p>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    <div>

      {% for field in form %}
          <div class="row">
            <div class="input-field col l6 m8 s10 offset-s2 offset-l3 offset-m2">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <div class="text-danger">
                  {{ field.errors|first }}
                </div>

              {% endif %}
              {% if field.help_text %}
                <div class="text-help">
                  {{ field.help_text|safe }}
                </div>
              {% endif %}
            </div>
          </div>
      {% endfor %}

      <div class="row">
        <div class="col m6 s6 offset-s3 offset-m4">

          <div class="row">
              <button type="submit" class="waves-effect waves-light btn">{% trans 'Change my password' %}</button>
          </div>


          <div class="row">
              <p><a href="{% url 'password_reset' %}">{% trans 'Lost password?' %}</a></p>
          </div>
        </div>
      </div>
    </div>
  </form></div>

  {% endblock %}
