{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s2"><a class="active" href="#info">{% trans 'Information' %}</a></li>
          <li class="tab col s2"><a href="#zosia">{% trans 'ZOSIA' %}</a></li>
        </ul>
      </div>
    </div>
    <div class="row" id="info">
      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <div class="card-title">{{ user.display_name }} - {% trans "profile" %}</div>
            <div class="row">
              <div class="col s12">
                {{ user.email }}
              </div>
            </div>
          </div>
          <div class="card-action">
            <a href="#">{% trans "Edit" %}</a>
            <a href="{% url 'password_change' %}">{% trans "Change password" %}</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row" id="zosia">
      <div class="col s12">
        {% if current_prefs %}
        <div class="card">
          <div class="card-content">
            <div class="card-title">{{ current_prefs.zosia }}</div>
            {% if current_prefs.payment_accepted %}
              <blockquote>
                {% trans "Your payment has been accepted :)" %}
              </blockquote>
              <div class="row">
                <div class="col s12">
                  <p>{% trans "Your bonus for rooms assigment" %}: {{ current_prefs.bonus_minutes|stringformat:"i" }}</p>
                </div>
              </div>
            {% else %}
              <blockquote>
              {% trans "Payment information" %} <br />
                <span>{% trans "Total" %}: {{ current_prefs.price }} PLN</span><br />
                {{ current_prefs.zosia.account_number }}<br />
                {{ current_prefs.zosia.account_details }}
              </blockquote>
            {% endif %}
            {% if all_prefs %}
              <h6>{% trans "Your previous conferences" %}</h6>
              <p>
              {% for zosia in all_prefs %}
                <div class="chip">{{ zosia }}</div>
              {% endfor %}
              </p>
            {% endif %}
          </div>
          <div class="card-action">
            <a href="{% url 'user_zosia_register' current_prefs.zosia.id %}">{% trans "Update preferences" %}</a>
          </div>
        </div>
        {% endif %}
      </div>

      {% if all_prefs %}
      {% endif %}
    </div>
{% endblock %}
