{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12 offset-m3">
      <h2>{% trans "Sign Up" %}</h2>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="row">
          <div class="input-field col l6 m8 s10 offset-s2 offset-l3 offset-m2">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
              <span class="text-danger">
                {{ field.errors|first }}
              </span>
              {% else %}
              <span class="text-help">
                {{ field.help_text|safe }}
              </span>
            {% endif %}
          </div>
        </div>
    {% endfor %}
    <div class="row">
      <div class="col m6 s6 offset-s3 offset-m4">
        <div class="row">
            <input type="submit" value="{% trans 'Create account' %}" class="waves-effect waves-light btn"/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
