{% extends "base.html" %}
{% load i18n %}
{% load materializecss %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12 offset-m3">
      <h2>{% trans "Sign Up" %}</h2>
    </div>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ form | materializecss }}
    <div class="row">
      <div class="col m6 s6 offset-s3 offset-m4">
        <div class="row">
            <input type="submit" value="{% trans 'Create account' %}" class="waves-effect waves-light btn"/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock %}
