{% load i18n %}
{% load materializecss %}



{% if form.non_field_errors %}
<div class="row">
    <div class="col s10 m8 offset-s1 offset-m2 offset-l2">
        <ul class="collapsible error-modal" data-collapsible="accordion">
            <li>
                <div class="collapsible-header active">
                    <i class="material-icons">report_problem</i>
                    {% trans 'Error' %}
                </div>
                <div class="collapsible-body">
                    <p>
                        {{ form.non_field_errors|first }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endif %}
<div class="row">
    {% for field in form %}
        {{ field|materializecss:'l7 m10 s12' }}
    {% endfor %}
</div>
<div class="row">
    <div class="col m6 s6 offset-s3 offset-m4">
        <button type="submit" class="waves-effect waves-light btn">{% trans 'Submit' %}</button>
    </div>
</div>