{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Zimowy Obóz Studentów Informatyki</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="{% static 'bower_components/materialize/dist/css/materialize.min.css' %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}"  media="screen,projection"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'imgs/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicon-16x16.png' %}">

    {% block custom_head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav>
        <div class="nav-wrapper container">
            <a href="{% url 'index' %}" class="brand-logo">
                <img src="{% static 'imgs/zosia.png' %}" alt="ZOSIA" height="50" style="margin: 5%"/>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'blog_index' %}">Blog</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'rooms_index' %}">{% trans 'Rooms' %}</a></li>
                  <li><a href="{% url 'accounts_profile' %}">{% trans 'Profile' %}</a></li>
                  <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                  <li><a href="{% url 'accounts_signup' %}">{% trans 'Sign up' %}</a></li>
                {% endif %}
            </ul>
            <ul id="navie" class="side-nav">
                <li><a href="{% url 'blog_index' %}">Blog</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'rooms_index' %}">{% trans 'Rooms' %}</a></li>
                  <li><a href="{% url 'accounts_profile' %}">{% trans 'Profile' %}</a></li>
                  <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                {% else %}
                  <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
                  <li><a href="{% url 'accounts_signup' %}">{% trans 'Sign up' %}</a></li>
                {% endif %}
            </ul>
            <a href="#" data-activates="navie" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    {% endblock %}
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <!-- FOOTER -->
    {% include 'footer.html' %}

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/materialize/dist/js/materialize.min.js' %}"></script>

    {% block custom_scripts %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'script/main.js' %}"></script>
</body>
</html>
