<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <a href="http://uni.wroc.pl" target="_blank">
                    <h5 class="white-text">Logo Uwr</h5>
                </a>
            </div>
            <div class="col l4 s12">
                <a href="http://ksi.ii.uni.wroc.pl/" target="_blank">
                    <h5 class="white-text">Logo KSI</h5>
                </a>
                <div>
                    <a href="https://www.facebook.com/ZOSIA.KSI" target="_blank">
                        <i class="fa fa-facebook white-text"></i>
                    </a>
                </div>
            </div>
            <div class="col l4 s12">
                <ul>
                    <li> <a href="#" class="grey-text text-lighten-4">Regulamin</a></li>
                    <li> <a href="#" class="grey-text text-lighten-4">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2016 Copyright Koło Studentów Informatyki
            <a href="mailto:ksi@cs.uni.wroc.pl" target="_blank" class="white-text right">
                <i class="fa fa-envelope-o white-text"></i> ksi@cs.uni.wroc.pl
            </a>
        </div>
    </div>
</footer>