{% load static %}
{% load i18n %}
<nav>
    <div class="nav-wrapper container">
        <a href="{% url 'index' %}" class="brand-logo">
            <img src="{% static 'imgs/zosia.png' %}" alt="ZOSIA" height="50" style="margin: 5%"/>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'blog_index' %}">Blog</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'accounts_profile' %}">{% trans 'Profile' %}</a></li>
              <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
              <li><a href="{% url 'accounts_signup' %}">{% trans 'Sign up' %}</a></li>
            {% endif %}
        </ul>
        <ul id="navie" class="side-nav">
            <li><a href="{% url 'blog_index' %}">Blog</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'accounts_profile' %}">{% trans 'Profile' %}</a></li>
              <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
              <li><a href="{% url 'accounts_signup' %}">{% trans 'Sign up' %}</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="navie" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
