{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3>
                    {% trans "Sponsors" %}
                </h3>

            </div>
            <div class="fixed-action-btn">
                <a href="{% url 'sponsors_add' %}" class="waves-effect waves-light btn-floating secondary-content btn-large">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div>
        {% for object in objects %}
            <div class="row">
                <div class="col l8 m6 s6">
                    <a href="{% url 'sponsors_edit' object.id %}">{{ object }}</a>
                </div>
                <div class="col l4 m6 s6">
                    <div class="switch">
                        <label>
                            Off
                            <input type="checkbox" {% if object.is_active %}checked{% endif %}>
                            <span class="lever" data-id="{{ object.id }}"></span>
                            On
                        </label>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.lever').on('click', function(){
                $.ajax({
                    type: "POST",
                    url: '{% url 'sponsors_toggle_active' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'key': $(this).data('id')
                    },
                    error: function(){
                        alert("Error occured!");
                    }
                });
            });
        });
    </script>
{% endblock %}