{% load i18n %}
{% load static %}

<div class="grey-text text-darken-1">
    <div class="container">
        <div class="row flexbox center-items-horizontal">
            <div class="col l7 m5 s12">
                <div class="text-block text-large">
                    <b>ZOSIA</b>, czyli <b>Zimowy Obóz Studentów Informatyki A</b>, to impreza organizowana przez Koło Studentów Informatyki od ponad 20 lat.
                    Historia obozu rozpoczęła się od nieformalnych wyjazdów grupy zaprzyjaźnionych studentów, dziś zrzesza każdego roku niemal 200 osób:
                    studentów róznych uczelni, przedstawicieli świata nauki i firm z branży IT. Podczas trzydniowego wyjazdu odbywają się wykłady,
                    prezentacje firm ale także wycieczki i imprezy integracyjne.
                </div>
            </div>
            <div class=" col offset-l1 l4 offset-m1 m6 s12">
              <div class="carousel">
                <!-- TODO: Modal? -->
                <a class="carousel-item" href="{% static 'imgs/sq1.png' %}"><img src="{% static 'imgs/sq1.png' %}"></a>
                <a class="carousel-item" href="{% static 'imgs/sq2.png' %}"><img src="{% static 'imgs/sq2.png' %}"></a>
                <a class="carousel-item" href="{% static 'imgs/sq3.png' %}"><img src="{% static 'imgs/sq3.png' %}"></a>
              </div>
            </div>
        </div>
    </div>
</div>
