{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3>
                    {% trans "User preferences" %}
                </h3>

            </div>
        </div>
        {% for object in objects %}
            <div class="row">
                <div class="col l8 m6 s6">
                    <a href="{% url 'user_preferences_edit' object.id %}">{{ object }}</a>
                </div>
                <div class="col l2 m3 s3">
                    <div class="switch">
                        <label>
                            <input type="checkbox" {% if object.payment_accepted %}checked{% endif %}>
                            <span class="lever" data-id="{{ object.id }}"></span>
                            Payment accepted
                        </label>
                    </div>
                </div>
                <div id="set-bonus-{{ object.id }}" class="col l2 m3 s3 {% if not object.payment_accepted %}hide{% endif %}">
                    <div class="switch">
                      Bonus: {{ object.bonus_minutes }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.lever').on('click', function(){
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: '{% url 'user_preferences_toggle_payment_accepted' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'key': id
                    },
                    success: function(data) {
                        console.log(data, $('#set-bonus-' + id));
                        $('#set-bonus-' + id).toggleClass('hide');
                    },
                    error: function(){
                        alert("Error occured!");
                    }
                });
            });
        });
    </script>
{% endblock %}
