{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3>
                    {% trans "User preferences" %}
                </h3>

            </div>
        </div>
        {% for object in objects %}
            <div class="row">
                <div class="col l8 m6 s6">
                    <a href="{% url 'user_preferences_edit' object.id %}">{{ object }}</a>
                </div>
                <div class="col l2 m3 s3">
                    <div class="switch">
                        <label>
                            <input type="checkbox" {% if object.payment_accepted %}checked{% endif %}>
                            <span class="lever" data-id="{{ object.id }}"></span>
                            Payment accepted
                        </label>
                    </div>
                </div>
                <div id="set-bonus-{{ object.id }}" class="col l2 m3 s3 {% if not object.payment_accepted %}hide{% endif %}">
                    <div  id="bonus-value-{{ object.id }}"> Bonus: {{ object.bonus_minutes }} </div>
                    <div class="range" data-bonus="{{ object.bonus_minutes }}" data-id="{{ object.id }}">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_scripts %}
    <link type="text/css" rel="stylesheet" href="{% static 'bower_components/materialize/extras/noUiSlider/nouislider.css' %}"  media="screen,projection"/>
    <script type="text/javascript" src="{% static 'bower_components/materialize/extras/noUiSlider/nouislider.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.range').each(function(_index, obj) {
              var firstUpdate = true;
              noUiSlider.create(obj, {
                start: [$(obj).data('bonus')],
                step: {{ bonus_step }},
                range: {
                  'min': {{ min_bonus }},
                  'max': {{ max_bonus }}
                },
                format: wNumb({
                  decimals: 0
                })
              });
              obj.noUiSlider.on('update', _.debounce(function(values) {
                if (firstUpdate) {
                  firstUpdate = false;
                  return
                }
                var id = $(obj).data('id');
                var value = parseInt(values[0]);
                $.ajax({
                    type: "POST",
                    url: '{% url 'user_preferences_admin_edit' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'key': id,
                        'command': '{{ change_bonus }}',
                        'bonus': value
                    },
                    success: function(data) {
                        $('#bonus-value-' + id).text('Bonus: ' + data['bonus']);
                        Materialize.toast(data['msg'], 1000, "success");
                    },
                    error: function(){
                        Materialize.toast("Error setting bonus.", 1000, "error");
                    }
                });
              }, 1000));
            });

            $('.lever').on('click', function(){
                var id = $(this).data('id');
                $.ajax({
                    type: "POST",
                    url: '{% url 'user_preferences_admin_edit' %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'key': id,
                        'command': '{{ toggle_payment }}'
                    },
                    success: function(data) {
                        Materialize.toast(data['msg'], 1000, "success");
                        $('#set-bonus-' + id).toggleClass('hide');
                    },
                    error: function(){
                        Materialize.toast("Error setting payment status.", 1000, "error");
                    }
                });
            });
        });
    </script>
{% endblock %}
