{% load i18n %}
{% if zosia %}
<div id="active-zosia" class="bg-light-green grey-text text-lighten-2">
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3>
                    {% trans "Information" %}
                </h3>
            </div>
        </div>
        <div class="row center-items-horizontal">
            <div class="col l4 m6 s12">
                <div class="center-align text-block ">
                  Tegoroczna <b>ZOSIA</b> rozpocznie się {{ zosia.start_date }} i obędzie się w
                  <!-- FIXME: Make sure this url is absolute. Django WILL try to make it relative if it doesn't start with http -->
                  <a href="{{ zosia.place.url }}">{{ zosia.place.name }}</a>.
                  <br>
                  Adres: {{ zosia.place.address }}.
                  <br>
                </div>
            </div>
            <div class="col l4 m6 s12"></div>
        </div>
    </div>

</div>
<!-- TODO: move percentage to css file -->
<div style="height: 22%">
    <iframe
        class="full-width full-height"
        frameborder="0" style="border:0"
        src={{ gapi_place_src }}
        allowfullscreen>
    </iframe>
</div>
{% endif %}
