{% load static %}
{% load i18n %}


<h1 style="color: red"> Development in progress. Registration begins in a couple of days... </h1>
{% if user.is_authenticated %}
<ul id="logged" class="dropdown-content">
    <li><a href="{% url 'accounts_profile' %}">{% trans "Profile" %}</a></li>
    <li><a href="{% url 'rooms_index' %}">{% trans 'Rooms' %}</a></li>
    {% if user.is_staff %}
    <li class="divider"></li>
    <li><a href="{% url 'admin' %}">{% trans "Admin" %}</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
</ul>
{% endif %}

<nav>
    <div class="nav-wrapper container">
        <a href="{% url 'index' %}" class="brand-logo">
            <img src="{% static 'imgs/zosia.png' %}" alt="ZOSIA" height="50" style="margin: 5%"/>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'blog_index' %}">Blog</a></li>
            <li>
                <a href="{% url 'lectures_index' %}">{% trans "Lectures" %}</a>
            </li>
            <li>
                <a href="{% url 'lectures_schedule' %}">{% trans "Schedule" %}</a>
            </li>
            {% if user.is_authenticated %}
              <li>
                  <a class="dropdown-button" href="#!" data-activates="logged">
                      {{ user }}<i class="material-icons right">arrow_drop_down</i>
                  </a>
              </li>
            {% else %}
              <li><a href="{% url 'login' %}">{% trans 'Log in' %}</a></li>
              <li><a href="{% url 'accounts_signup' %}">{% trans 'Sign up' %}</a></li>
            {% endif %}
        </ul>
        <ul id="navie" class="side-nav">
            {% if user.is_authenticated %}
            <li>
                <div class="userView">
                    <a href="{% url 'accounts_profile' %}"><span class="name">{{ user.first_name }} {{ user.last_name }}</span></a>
                    <a href="#"><span class="email">{{ user.email }}</span></a>
                </div>
            </li>
            <li>
                <a href="{% url 'rooms_index' %}">
                    {% trans 'Rooms' %}
                </a>
            </li>
            {% if user.is_staff %}
            <li class="divider"></li>
            <li>
                <a href="{% url 'admin' %}">
                    <i class="large material-icons">lock-open</i>
                    {% trans 'Admin' %}
                </a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {% trans 'Log out' %}
                </a>
            </li>
            {% else %}
              <li>
                  <a href="{% url 'login' %}">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                      {% trans 'Log in' %}
                  </a>
              </li>
              <li>
                  <a href="{% url 'accounts_signup' %}">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>
                      {% trans 'Sign up' %}
                  </a>
              </li>
            {% endif %}
            <li><div class="divider"></div></li>
            <li><a href="{% url 'blog_index' %}">Blog</a></li>
            <li>
                <a href="{% url 'lectures_schedule' %}">{% trans "Schedule" %}</a>
            </li>
            <li>
                <a href="{% url 'lectures_index' %}">{% trans "Lectures" %}</a>
            </li>
        </ul>
        <a href="#" data-activates="navie" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
